<div class="main-container">
  <div class="title-planos">
    <h2>Planos acessíveis para todos os perfis</h2>
    <p>
      Escolha um plano e tenha acesso ilimitado a questões e aulas para turbinar
      seus estudos. Resolva exercícios sem restrições, assista a videoaulas e
      acompanhe seu progresso.
    </p>
  </div>

  <div class="planos-container">
    <app-card-plano
        *ngIf="mostrarPlanoGratuito"
        titulo="Gratuito"
        [descricao]="['Acesso a um número limitado de questões.', 'Ideal para quem está começando ou quer experimentar a plataforma.', 'Sem compromisso, totalmente gratuito.']"
        textoBotao="Iniciar teste gratuito"
        [recomendado]="false"
        [mostrarPorMes]="false"
        [mostrarPlanoGratuito]="true"
        textoAdicional=""
        (botaoClicado)="onBotaoClicado()"
        planoSelecionado="GRATUITO">
    </app-card-plano>

    <app-card-plano
        titulo="Mensal"
        [descricao]="['Revisão rápida sobre qualquer tema ou assunto.', 'Ideal para quem busca agilidade no aprendizado.', 'Acesso flexível ao conteúdo essencial.']"
        [preco]="397.00"
        textoBotao="Escolher plano"
        [recomendado]="false"
        textoAdicional=""
        (botaoClicado)="onBotaoClicado()"
        [usarServicoPagamento]="true"
        planoSelecionado="ASSINATURA_MENSAL">
    </app-card-plano>

    <app-card-plano
        titulo="Semestral"
        [descricao]="['Exploração detalhada do acervo da plataforma.', 'Estudo com tempo para absorver conhecimento.', 'Perfeito para uma aprendizagem profunda e completa.']"
        [preco]="116.16"
        textoBotao="Escolher plano"
        [recomendado]="false"
        textoAdicional="R$697,00 por 6 meses"
        corCabecalho="#041E4E"
        (botaoClicado)="onBotaoClicado()"
        rota="plano/semestral">
    </app-card-plano>

    <app-card-plano
        titulo="Anual"
        [descricao]="['Utilize todas as funcionalidades da plataforma.', 'Melhore seu aprendizado de forma abrangente.', 'Acesso ao banco de questões com reset duas vezes ao ano.']"
        [preco]="99.75"
        textoBotao="Escolher plano"
        [recomendado]="true"
        textoAdicional="R$1.197,00 por 1 ano"
        corCabecalho="#0F1934"
        (botaoClicado)="onBotaoClicado()"
        rota="plano/anual">
    </app-card-plano>
    <!--
    <app-card-plano
      titulo="Banco + Flashcards"
      [descricao]="[
        'Acesso completo ao banco de questões e flashcards.',
        'Estude de forma rápida e eficiente com cartões de memorização.',
        'Ideal para revisar conceitos importantes em poucos minutos.',
      ]"
      [preco]=132.50
      textoBotao="Escolher plano"
      [recomendado]="false"
      textoAdicional="R$1.590,00 por 1 ano"
      corCabecalho="#253c66"
      (botaoClicado)="onBotaoClicado()"
      planoSelecionado="ASSINATURA_COMBO"
      planoHotmart="5234991">
    </app-card-plano>
    
    <app-card-plano
      titulo="Flashcards"
      [descricao]="[
        'Estude de forma rápida e eficiente com cartões de memorização.',
        'Ideal para revisar conceitos importantes em poucos minutos.',
        'Acesse o conteúdo essencial de qualquer lugar, a qualquer hora.',
        'Método comprovado para melhorar a fixação e a recordação de informações.',
        'Perfeito para quem tem pouco tempo e precisa de agilidade no aprendizado.'
      ]"
      [preco]="263.33"
      textoBotao="Escolher plano"
      [recomendado]="false"
      textoAdicional="R$789,99 por 1 ano"
      corCabecalho="#041E4E"
      (botaoClicado)="onBotaoClicado()"
      [usarServicoPagamento]="true"
      planoSelecionado="ASSINATURA_FLASHCARDS"
      planoHotmart="5588821">
    </app-card-plano>
    -->
  </div>

  <div class="planos-footer">
    <span>
      <div class="texto-informativo">
        <p>Para acessar a plataforma selecione o plano que desejar 😃. | <a href="/login">Voltar para a página de login</a></p>
      </div>
      <br/>
        Sujeito às condições estabelecidas em nossos 
        <a href="#">Termos de Uso</a> e
        <a href="#">Política de Assinaturas.</a>
    </span>
  </div>
</div>
