<div class="main-container">
  <div class="title-planos">
    <h2>Planos acessíveis para todos os perfis</h2>
    <p>
      Escolha um plano e tenha acesso ilimitado a nossas questões e comentários.
    </p>
    <div class="alert alert-warning" *ngIf="mensagemExpirado">
      {{ mensagemExpirado }}
    </div>
  </div>

  <div class="planos-container">
    <app-card-plano
        *ngIf="mostrarPlanoGratuito"
        titulo="7 dias Grátis"
        [descricao]="['Acesso a um número limitado de questões.', 'Ideal para quem está começando ou quer experimentar a plataforma.', 'Sem compromisso, totalmente gratuito.']"
        [preco]="''"
        textoParcelas="Gratuito"
        textoBotao="Teste 7 dias grátis"
        [mostrarPorMes]="false"
        [recomendado]="false"
        textoAdicional=""
        (botaoClicado)="onBotaoClicado()"
        planoSelecionado="GRATUITO">
    </app-card-plano>

    <!-- <app-card-plano
        titulo="Mensal"
        [descricao]="['Revisão rápida sobre qualquer tema ou assunto.', 'Ideal para quem busca agilidade no aprendizado.', 'Acesso flexível ao conteúdo essencial.']"
        [preco]="397.00"
        textoBotao="Escolher plano"
        [recomendado]="false"
        textoAdicional=""
        (botaoClicado)="onBotaoClicado()"
        [usarServicoPagamento]="true"
        planoSelecionado="ASSINATURA_MENSAL">
    </app-card-plano> -->

    <app-card-plano
        titulo="QBank + Mentoria"
        [descricao]="[
          'Banco de questões com mais de 4 mil questões.',
          '+2500 questões comentadas ricas em ilustrações.',
          'Assistente de IA que tira dúvidas, elabora novos comentários e explicações.',
          'Mentoria de acompanhamento do desempenho com questões.',
          'Fichas de provas de acordo com a necessidade do aluno.'
        ]"
        [preco]="450.26"
        [textoParcelas]="'6x'"
        textoBotao="Escolher plano"
        [recomendado]="false"
        textoAdicional="Ou em 1x de R$2.400,00"
        corCabecalho="#041E4E"
        (botaoClicado)="onBotaoClicado()"
        [planoSelecionado]="'assinatura_semestral_parcelada'.toUpperCase()"
        planoHotmart="5607714"
        >
        <!-- caso queira utilizar o componente detalhes-planos
        basta remover planoSelecionado e planoHotmart e
        setar rota="plano/semestral" -->
    </app-card-plano>

    <app-card-plano
        titulo="Anual"
        [descricao]="[
          'Banco de questões com mais de 4 mil questões.',
          '+2500 questões comentadas ricas em ilustrações.',
          'Assistente de IA que tira dúvidas, elabora novos comentários e explicações.'
          ]"
        [preco]="175.51"
        [textoParcelas]="'12x'"
        textoBotao="Escolher plano"
        [recomendado]="true"
        textoAdicional="ou em 1x de R$1.697,00"
        corCabecalho="#0F1934"
        (botaoClicado)="onBotaoClicado()"
        [planoSelecionado]="'assinatura_anual_parcelada'.toUpperCase()"
        planoHotmart="5089420">
    </app-card-plano>
    <!--
    <app-card-plano
      titulo="Banco + Flashcards"
      [descricao]="[
        'Acesso completo ao banco de questões e flashcards.',
        'Estude de forma rápida e eficiente com cartões de memorização.',
        'Ideal para revisar conceitos importantes em poucos minutos.',
      ]"
      [preco]=132.50
      textoBotao="Escolher plano"
      [recomendado]="false"
      textoAdicional="R$1.590,00 por 1 ano"
      corCabecalho="#253c66"
      (botaoClicado)="onBotaoClicado()"
      planoSelecionado="ASSINATURA_COMBO"
      planoHotmart="5234991">
    </app-card-plano>
    
    <app-card-plano
      titulo="Flashcards"
      [descricao]="[
        'Estude de forma rápida e eficiente com cartões de memorização.',
        'Ideal para revisar conceitos importantes em poucos minutos.',
        'Acesse o conteúdo essencial de qualquer lugar, a qualquer hora.',
        'Método comprovado para melhorar a fixação e a recordação de informações.',
        'Perfeito para quem tem pouco tempo e precisa de agilidade no aprendizado.'
      ]"
      [preco]="263.33"
      textoBotao="Escolher plano"
      [recomendado]="false"
      textoAdicional="R$789,99 por 1 ano"
      corCabecalho="#041E4E"
      (botaoClicado)="onBotaoClicado()"
      [usarServicoPagamento]="true"
      planoSelecionado="ASSINATURA_FLASHCARDS"
      planoHotmart="5588821">
    </app-card-plano>
    -->
  </div>

  <div class="planos-footer">
    <span>
      <div class="texto-informativo">
        <p>Para acessar a plataforma selecione o plano que desejar 😃. | <a href="/login">Voltar para a página de login</a></p>
      </div>
      <br/>
        Sujeito às condições estabelecidas em nossos 
        <a href="#">Termos de Uso</a> e
        <a href="#">Política de Assinaturas.</a>
    </span>
  </div>
</div>
