.container {
  max-width: 1300px;
  padding: 6px;
  font-family: "Nunito Sans", sans-serif;
}

.text-p {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.conteudo-questao {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--bg-container);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
}

.conteudo-questao p {
  padding: 10px;
  margin: 0;
  font-size: 16px;
}

.enunciado-questao {
  font-size: 16px;
}

.enunciado-questao p img {
  max-width: 100%;
  height: auto;
}

.questao-foto {
  max-width: 350px;
  max-height: 500px;
  height: auto;
  display: block;
  margin: 20px auto 0 auto;
  margin-bottom: 10px;
}

.questao-video {
  width: 500px;
  height: auto;
  display: block;
  margin-bottom: 16px;
  margin: 10px auto;
}

.identificadores-questao {
  display: flex;
  color: var(--text-color);
  background-color: var(--bg-container);
  border-radius: 15px;
  padding: 2px;
  margin-bottom: 10px;
  align-items: center;
}

.identificadores-questao h3 {
  font-size: 14px;
  margin: 0 14px 0 22px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-filters {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-filters:hover {
  background-color: #0056b3;
}

.filters-container {
  margin-top: 20px;
  background: var(--filtro-bg);
  border-radius: 5px;
  padding: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 10px;
  width: 100%;
}

.col:last-child {
  margin-right: 0;
}

.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.alternativa-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
  margin: 0;
}

.alternativa:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.alternativa-input-group {
  display: flex;
  align-items: center;
}

.alternativa-input-group input[type="radio"] {
  margin-right: 5px;
}

.alternativa-texto {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.alternativa-foto {
  width: 400px;
  height: auto;
  max-height: 400px;
  margin-left: 10px;
}

.alternativa-comentario {
  font-size: 16px;
}

.content-with-fixed-buttons {
  padding-bottom: 80px;
}

.navigation-fixed {
  position: fixed;
  bottom: 0;
  left: 200px;
  right: 0;
  background-color: var(--bg-sidebar);
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-responder:disabled {
  background-color: #a9a9a9;
  border-color: #a9a9a9;
}

/* Ajustes para posicionamento do chatbot */
body.has-fixed-buttons .chatbot-toggle-button {
  bottom: 90px;
  /* Posicionar acima da barra de navegação fixa */
}

.btn-anterior,
.btn-responder,
.btn-proxima,
.btn-finalizar {
  padding: 10px 20px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.btn-anterior {
  background-color: #2a4d7b;
}

.btn-proxima {
  background-color: #3b5fa0;
}

.btn-responder {
  background-color: #28a745;
}

.btn-anterior:disabled {
  background-color: #9a9a9a;
  cursor: not-allowed;
}

.icon {
  margin-right: 10px;
  width: 20px;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-filtros,
.btn-filtrar,
.btn-filtrar-geral,
.btn-salvar {
  margin-top: 12px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-filtros {
  width: 200px;
  background-color: #041e4e;
}

.btn-filtrar,
.btn-filtrar-geral,
.btn-salvar {
  width: 230px;
}

.btn-filtrar {
  background-color: #edb120;
  margin-right: 10px;
  color: #000;
}

.btn-filtrar-geral {
  background-color: #5d7196;
  margin-right: 10px;
}

.btn-salvar {
  background-color: #3b5fa0;
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: #0056b3;
}

.progress-bar-spacing {
  margin-top: 20px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  width: 280px;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
  background: aliceblue;
}

.form-control-input {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.espaco-select {
  margin-bottom: 16px;
}

.palavra-chave {
  background: aliceblue;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .navigation-fixed {
    left: 0 !important;
  }
}

@media (max-width: 768px) {
  .col {
    width: 80%;
  }

  ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    width: 100%;
  }

  .custom-form-field,
  .palavra-chave {
    width: 100%;
  }
}

.card-confirmacao {
  max-width: 400px;
  margin: 20px auto;
}

.card-confirmacao .card-body {
  padding: 20px;
}

.card-confirmacao .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-confirmacao .card-text {
  margin-bottom: 20px;
}

.card-confirmacao .btn {
  margin-right: 10px;
}

.alert {
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #f4a261;
  border-radius: 5px;
}

.alert-info {
  background-color: #f0f8ff;
  color: #000000;
  font-size: 14px;
}

.alert-custom {
  background-color: #f4a261;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.button-row-filtro {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.left-buttons {
  display: flex;
  justify-content: flex-start;
  /* Alinha os botões à esquerda */
  gap: 10px;
  /* Espaçamento entre botões */
}

.right-buttons {
  display: flex;
  justify-content: flex-end;
  /* Alinha os botões à direita */
  gap: 10px;
  /* Espaçamento entre botões */
}

.btn-anterior,
.btn-proxima,
.btn-responder {
  padding: 10px 20px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.btn-gabarito {
  padding: 10px 20px;
  width: 130px;
  border: 2px solid #f4a261;
  /* Borda da cor especificada */
  border-radius: 5px;
  background-color: #f4a261;
  /* Background transparente */
  color: #000;
  /* Cor do texto preto */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-anterior {
  background-color: #2a4d7b;
}

.btn-proxima {
  background-color: #3b5fa0;
}

.btn-responder {
  background-color: #28a745;
}

.btn-anterior:disabled {
  background-color: #9a9a9a;
  cursor: not-allowed;
}

.alert-success {
  background-color: #399918;
  color: #020202;
  font-size: 16px;
  border-color: #399918;
}

.alert-danger {
  background-color: #f5004f;
  color: #ffffff;
  font-size: 16px;
  border-color: #f5004f;
}

.select-container {
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.select-questoes {
  text-align: center;
}

.btn-iniciar {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.btn-iniciar {
  background-color: #4caf50;
}

.btn-finalizar {
  background-color: #a02334;
  color: #ffffff;
}

.btn-finalizar:disabled {
  background-color: #9a9a9a;
  cursor: not-allowed;
}

.buttons-simulado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tempo h3 {
  border: 2px solid #041e4e;
  /* Borda preta */
  border-radius: 10px;
  /* Borda arredondada */
  background-color: #041e4e;
  /* Fundo transparente */
  color: #fff;
  padding: 10px;
  /* Espaçamento interno para dar um pouco de respiro ao conteúdo */
  text-align: center;
  /* Centralizar o texto */
  display: inline-block;
  /* Para que o tamanho se ajuste ao conteúdo */
  font-size: 15px;
}

.grafico-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  /* Fundo diferente */
  border: 2px solid #041e4e;
  /* Borda destacada */
  border-radius: 10px;
  padding: 10px;
  width: 450px;
  /* Largura do gráfico reduzida */
  height: 300px;
  /* Altura do gráfico reduzida */
  margin: 0 20px;
  /* Espaçamento lateral para centralizar entre os botões */
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.alert.alert-info {
  background-color: #b3c9eb;
  border: #b3c9eb;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.iniciar-simulado-container,
.resultado-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 24px;
  background: var(--bg-container);
  padding: 32px;
  height: 480px;
  border-radius: 16px;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 10px;
}

.timer-container h3 {
  font-size: 20px;
  margin-right: 32px;
}

.timer-container span {
  font-size: 20px;
  font-weight: 500;
}

.questao-body {
  font-size: 16px;

  && label {
    font-weight: 600;
  }
}

.alternativa {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.alternativa-certa::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("src/assets/Icons/confirmar.png");
  background-size: cover;
  margin-left: 8px;
}

.alternativa-errada::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("src/assets/Icons/Error.png");
  background-size: cover;
  margin-left: 8px;
}

.alternativa-input-group {
  display: flex;
  align-items: center;
}

.btn-back {
  margin-top: 24px;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background: #3b5fa0;
}

.filtros-container {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out;
}

.filtros-container-open {
  max-height: 0;
}

.results-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  width: 100%;
}

.results-card {
  background-color: #2c3e50;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 650px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #34495e;
  color: #ecf0f1;
}

.results-header {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
  color: #ffffff !important;
}

/* Corpo principal com layout flexível */
.results-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-container {
  position: relative;
  width: 180px;
  height: 180px;
}

.chart-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
}

/* Contêiner das métricas de texto */
.metrics-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.metric-item h4 {
  font-size: 0.9rem;
  color: #95a5a6 !important;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.metric-item p {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  color: #ecf0f1;
}

/* Seção dos botões */
.results-actions {
  display: flex;
  justify-content: flex-end;
  /* Alinha botões à direita */
  gap: 15px;
  margin-top: 30px;
  border-top: 1px solid #34495e;
  padding-top: 20px;
}

/* Estilos base dos botões */
.btn-primary-action,
.btn-secondary-action {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Botão de Ação Primária (preenchido) */
.btn-primary-action {
  background-color: #3498db;
  /* Azul */
  color: white;
}

.btn-primary-action:hover {
  background-color: #2980b9;
}

/* Botão de Ação Secundária (contorno) */
.btn-secondary-action {
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
}

.btn-secondary-action:hover {
  background-color: #3498db;
  color: white;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .button-row {
    flex-direction: column;
    /* Mantém a coluna em telas menores */
    align-items: stretch;
    /* Faz os botões ocuparem a largura total */
  }

  .right-buttons {
    flex-direction: row;
    /* Mantém a disposição em linha */
    justify-content: space-between;
    /* Espaço igual entre os botões */
    width: 100%;
    /* Largura total */
    margin-bottom: 10px;
    /* Espaçamento entre as linhas */
  }

  .btn-proxima {
    margin-left: 0;
    /* Remove a margem à esquerda em dispositivos móveis */
  }

  .btn-anterior,
  .btn-responder,
  .btn-proxima,
  .btn-finalizar {
    width: 48%;
    /* Largura de cada botão em uma linha (2 botões por linha) */
  }
}

.close-popup-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  color: #888;
  cursor: pointer;
  z-index: 1050;
  padding: 0;
}

.close-popup-button:hover {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario span[style*="rgb(0, 0, 0)"],
::ng-deep .img-comentario span[style*="rgb(0,0,0)"],
::ng-deep .img-comentario span[style*="color: black"],
::ng-deep .img-comentario span[style*="color: rgb(0, 0, 0)"],
::ng-deep .img-comentario span[style*="color: rgb(0,0,0)"],
::ng-deep .img-comentario span[style*="color:rgb(0, 0, 0)"],
::ng-deep .img-comentario span[style*="color:rgb(0,0,0)"],
::ng-deep .img-comentario span[style*="color: rgb(33, 37, 41);"],
::ng-deep .img-comentario span[style*="color: rgb(17, 17, 17);"],
::ng-deep span[style*="--clrSquiggleHighlightTextColor"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario span[style*="background-color"] {
  color: #000 !important;
}

::ng-deep .img-comentario span[style*="background-color: transparent"],
::ng-deep .img-comentario span[style*="background-color: rgba(0, 0, 0, 0)"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario p span[style*="rgb(0, 0, 0)"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario p[style*="rgb(0, 0, 0)"],
::ng-deep .img-comentario p[style*="rgb(0,0,0)"],
::ng-deep .img-comentario p[style*="color: black"],
::ng-deep .img-comentario p[style*="color: rgb(0, 0, 0)"],
::ng-deep .img-comentario p[style*="color: rgb(0,0,0)"],
::ng-deep .img-comentario p[style*="color:rgb(0, 0, 0)"],
::ng-deep .img-comentario p[style*="color:rgb(0,0,0)"],
::ng-deep .img-comentario p[style*="color: rgb(33, 37, 41);"],
::ng-deep .img-comentario p[style*="color: rgb(17, 17, 17);"],
::ng-deep p[style*="--clrSquiggleHighlightTextColor"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario p[style*="background-color"] {
  color: #000 !important;
}

::ng-deep .img-comentario p[style*="background-color: transparent"],
::ng-deep .img-comentario p[style*="background-color: rgba(0, 0, 0, 0)"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario strong[style*="rgb(0, 0, 0)"],
::ng-deep .img-comentario strong[style*="rgb(0,0,0)"],
::ng-deep .img-comentario strong[style*="color: black"],
::ng-deep .img-comentario strong[style*="color: rgb(0, 0, 0)"],
::ng-deep .img-comentario strong[style*="color: rgb(0,0,0)"],
::ng-deep .img-comentario strong[style*="color:rgb(0, 0, 0)"],
::ng-deep .img-comentario strong[style*="color:rgb(0,0,0)"],
::ng-deep .img-comentario strong[style*="color: rgb(33, 37, 41);"],
::ng-deep .img-comentario strong[style*="color: rgb(17, 17, 17);"],
::ng-deep strong[style*="--clrSquiggleHighlightTextColor"] {
  color: var(--text-color) !important;
}

::ng-deep .img-comentario em[style*="background-color"] {
  color: #000 !important;
}

::ng-deep .img-comentario em[style*="background-color: transparent"],
::ng-deep .img-comentario em[style*="background-color: rgba(0, 0, 0, 0)"] {
  color: var(--text-color) !important;
}

.alternativa-wrapper {
  margin-bottom: 15px;
  transition: all 0.3s ease;
  border-radius: 15px;
  background-color: transparent;
}

.alternativa-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  margin: 0;
}

.radio-oculto {
  display: none;
}

.indicador-letra {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #52525b;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.conteudo-texto {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.alternativa-container:hover .indicador-letra {
  border-color: #a1a1aa;
}

.alternativa-wrapper.status-selecionado .indicador-letra,
.radio-oculto:checked+.indicador-letra {
  background-color: #3f3f46;
  border-color: #fff;
  color: #fff;
}


.alternativa-wrapper.status-correto {
  background-color: rgba(45, 206, 137, 0.1);
}

.alternativa-wrapper.status-correto .indicador-letra {
  border-color: #2dce89;
  background-color: #2dce89;
  color: #fff;
}

.alternativa-wrapper.status-errado {
  background-color: rgba(245, 54, 92, 0.1);
}

.alternativa-wrapper.status-errado .indicador-letra {
  border-color: #f5365c;
  background-color: #f5365c;
  color: #fff;
}