<div class="container pt-5 content-with-fixed-buttons" style="position: relative;">
  <div class="container mt-4">

    <button *ngIf="idAlunoMentorado" (click)="fecharPopup()" class="close-popup-button" aria-label="Fechar">
      &times;
    </button>

    <div class="header" *ngIf="realizandoSimulado && !isSimuladoIniciado;">
      <h1 class="mt-4">
        <span> | </span>
        <ng-container *ngIf="nomeAlunoMentorado; else simuladosTitulo">
          Criando simulado para "{{ nomeAlunoMentorado }}"
        </ng-container>
        <ng-template #simuladosTitulo>Simulados</ng-template>
      </h1>
      <button class="btn-filtros" (click)="toggleFiltros()">
        <img src="assets/imagens/q-f.svg" alt="Ícone do Filtro" class="icon">
        Filtro Simulado
      </button>
    </div>
  </div>
  <div [ngClass]="{'filtros-container': true, 'filtros-container-open': mostrarFiltros}"
    *ngIf="realizandoSimulado && !isSimuladoIniciado;">
    <div class="container">
      <div class="filters-container">
        <form #filtroForm="ngForm" (ngSubmit)="filtrarQuestoes()" class="consulta-form">
          <div class="row">
            <div class="col col-12 col-md-6 espaco-select">
              <app-select-padrao label="Quantidade de Questões" [options]="quantidadeDeQuestoesSelecionadasDescricoes"
                [(selectedValue)]="selectedQuantidadeDeQuestoesSelecionadas">
              </app-select-padrao>
            </div>

            <div class="col col-12 col-md-6 espaco-select">
              <app-select-padrao label="Questões Respondidas" [options]="respostasSimuladoDescricao"
                [(selectedValue)]="selectedRespostasSimulado">
              </app-select-padrao>
            </div>
          </div>
          <div class="row">
            <div class="col col-12 col-md-6">
              <div class="espaco-select">
                <app-multiplo-select label="Ano" [options]="anosDescricoes" [(selectedValue)]="multiSelectedAno"
                  [multiple]="true" [disabled]="isFiltroBloqueado()">
                </app-multiplo-select>
              </div>
              <div class="espaco-select">
                <app-multiplo-select label="Assunto" [options]="subtemasAgrupadosPorTema"
                  [(selectedValue)]="multiSelectTemasSubtemasSelecionados" [multiple]="true" [searchable]="true">
                </app-multiplo-select>
              </div>
              <div class="espaco-select">
                <app-multiplo-select label="Dificuldade" [options]="dificuldadesDescricoes"
                  [(selectedValue)]="multiSelectedDificuldade" [multiple]="true">
                </app-multiplo-select>
              </div>
            </div>
            <div class="col col-12 col-md-6 espaco-select">
              <app-multiplo-select label="Tipo de Prova" [options]="tiposDeProvaDescricoes"
                [(selectedValue)]="multiSelectedTipoDeProva" [multiple]="true"
                (selectedValueChange)="onTipoDeProvaChange()">
              </app-multiplo-select>
              <div class="espaco-select mt-3"> <app-input-padrao label="Pesquisar por palavra-chave"
                  [(value)]="palavraChave" class="palavra-chave">
                </app-input-padrao>
              </div>
            </div>
          </div>

          <div *ngIf="message" class="alert alert-info mt-3 alert-custom" role="alert">
            {{ message }}
          </div>

          <div *ngIf="mensagem" class="alert"
            [ngClass]="{'alert-success': mensagem.tipo === 'sucesso', 'alert-danger': mensagem.tipo === 'erro'}">
            {{ mensagem.texto }}
          </div>

          <div class="button-row-filtro">
            <button type="submit" class="btn-filtrar">Filtrar</button>
            <button type="button" class="btn-filtrar-geral" (click)="LimparFiltro()">Limpar Filtro</button>
          </div>
        </form>
        <mat-progress-bar class="progress-bar-spacing" *ngIf="carregando" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmacaoModal" #confirmacaoModalRef tabindex="-1"
    aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
    <div class="mr-box-save-lista-overlay"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmacaoModalLabel">Salvar Simulado</h5>
        </div>
        <div class="modal-body">
          <form class="form-group">
            <div class="mb-3">
              <label for="nomeFiltro" class="form-label">Nome <span>*</span></label>
              <input type="text" class="form-control" id="nomeFiltro" #nomeFiltroInput
                placeholder="Ex. Simulado de Óptica" required>
            </div>
            <div class="mb-3">
              <label for="descricaoFiltro" class="form-label">Assunto</label>
              <input type="text" class="form-control" id="descricaoFiltro" #descricaoFiltroInput
                placeholder="Ex. Vergência, objeto e imagem">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="cancelarSimulado()">Cancelar</button>
          <button type="button" class="btn btn-success"
            (click)="confirmarSalvarSimulado(nomeFiltroInput.value, descricaoFiltroInput.value)">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #filtrosDesativados></ng-template>


  <div *ngIf="questaoAtual">
    <div class="identificadores-questao-resul" *ngIf="!realizandoSimulado">
      <h2 class="h2">Revisão do Simulado</h2>
    </div>
    <div class="identificadores-questao-resul" *ngIf="realizandoSimulado">
      <h2 class="h2">Resultado da Filtragem</h2>
    </div>
    <div class="questao">
      <div *ngIf="simuladoIniciado && !simuladoFinalizado">
        <div *ngIf="nomeAlunoMentorado" class="alert alert-success mt-3">
          Simulado cadastrado com sucesso!
        </div>

        <ng-container *ngIf="!(nomeAlunoMentorado)">
          <div class="identificadores-questao">
            <h3>ID: {{ questaoAtual.id }}</h3>
            <h3>Tema: {{ questaoAtual.tema }}</h3>
            <h3>Ano: {{ questaoAtual.ano }}</h3>

            <h3 class="progresso-texto">Questão {{ numQuestaoAtual }} / {{ totalQuestoes }}</h3>

          </div>

          <div class="conteudo-questao">
            <div *ngIf="!isMeuSimulado" class="timer-container">
              <h3>
                <span>Tempo de simulado:</span>
                {{ formatarTempo(tempo) }}
              </h3>
            </div>
            <div *ngIf="!isMeuSimulado" class="timer-container">
              <h3>
                <span [ngStyle]="{ color: getCorTempoRestante() }">Tempo restante:
                  {{ tempoRestanteQuestaoSimulado }}s
                </span>
              </h3>
            </div>
            <div class="enunciado-questao" [innerHTML]="questaoAtual.enunciadoDaQuestao"></div>
            <ng-container *ngIf="questaoAtual.fotoDaQuestaoUrl">
              <img *ngIf="isImage(questaoAtual.fotoDaQuestaoUrl)" [src]="questaoAtual.fotoDaQuestaoUrl"
                alt="Foto da questão" class="questao-foto">
              <video *ngIf="isVideo(questaoAtual.fotoDaQuestaoUrl)" [src]="questaoAtual.fotoDaQuestaoUrl" controls
                controlsList="nodownload" class="questao-video">
              </video>
            </ng-container>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div *ngFor="let alternativa of questaoAtual.alternativas; let i = index" class="alternativa-wrapper"
                    [ngClass]="{
                    'status-correto': respostaVerificada && alternativa.texto === respostaCorreta,
                    'status-errado': respostaVerificada && alternativa.texto === respostaErrada && alternativa.texto === selectedOption,
                    'status-selecionado': !respostaVerificada && alternativa.texto === selectedOption
                  }">

                    <label [for]="'alternativa' + i" class="alternativa-container">

                      <input type="radio" name="alternativa" [id]="'alternativa' + i" [value]="alternativa.texto"
                        [(ngModel)]="selectedOption" (change)="onOptionChange(alternativa.texto)"
                        [disabled]="radioDisabled" class="radio-oculto">

                      <div class="indicador-letra">
                        {{ alternativa.texto }}
                      </div>

                      <div class="conteudo-texto">
                        <div class="texto-opcao">
                          <span *ngIf="alternativa.imagemUrl; else comentarioTexto" class="img-alternativas">
                            <img [src]="alternativa.imagemUrl" alt="Imagem da Alternativa" class="alternativa-foto">
                          </span>
                          <ng-template #comentarioTexto>
                            <span class="alternativa-comentario">{{ alternativa.comentario }}</span>
                          </ng-template>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>

                <div *ngIf="mensagemDeAviso" class="alert alert-info mt-2">
                  {{ mensagemDeAviso }}
                </div>
              </div>
            </div>

            <div *ngIf="mostrarGabarito && questaoAtual">
              <h2 class="comentario-titulo">Comentário da Questão</h2>
              <!-- Exibe o comentário da Questão com HTML Sanitizado -->
              <div class="img-comentario" [innerHTML]="questaoAtual.comentarioDaQuestao | safeHtml"></div>
              <ng-container *ngIf="questaoAtual.fotoDaRespostaUmUrl">
                <img *ngIf="isImage(questaoAtual.fotoDaRespostaUmUrl)" [src]="questaoAtual.fotoDaRespostaUmUrl"
                  alt="Foto da questão" class="questao-foto">
                <video *ngIf="isVideo(questaoAtual.fotoDaRespostaUmUrl)" [src]="questaoAtual.fotoDaRespostaUmUrl"
                  controls controlsList="nodownload" class="questao-video">
                </video>
              </ng-container>
              <!-- Exibe o comentário da Questão com HTML Sanitizado -->
              <div class="img-comentario" [innerHTML]="questaoAtual.comentarioDaQuestaoDois | safeHtml"></div>
              <ng-container *ngIf="questaoAtual.fotoDaRespostaDoisUrl">
                <img *ngIf="isImage(questaoAtual.fotoDaRespostaDoisUrl)" [src]="questaoAtual.fotoDaRespostaDoisUrl"
                  alt="Foto da questão" class="questao-foto">
                <video *ngIf="isVideo(questaoAtual.fotoDaRespostaDoisUrl)" [src]="questaoAtual.fotoDaRespostaDoisUrl"
                  controls controlsList="nodownload" class="questao-video">
                </video>
              </ng-container>
              <!-- Exibe o comentário da Questão com HTML Sanitizado -->
              <div class="img-comentario" [innerHTML]="questaoAtual.comentarioDaQuestaoTres | safeHtml"></div>
              <ng-container *ngIf="questaoAtual.fotoDaRespostaTresUrl">
                <img *ngIf="isImage(questaoAtual.fotoDaRespostaTresUrl)" [src]="questaoAtual.fotoDaRespostaTresUrl"
                  alt="Foto da questão" class="questao-foto">
                <video *ngIf="isVideo(questaoAtual.fotoDaRespostaTresUrl)" [src]="questaoAtual.fotoDaRespostaTresUrl"
                  controls controlsList="nodownload" class="questao-video">
                </video>
              </ng-container>
              <!-- Exibe o comentário da Questão com HTML Sanitizado -->
              <div class="img-comentario" [innerHTML]="questaoAtual.comentarioDaQuestaoQuatro | safeHtml"></div>
              <ng-container *ngIf="questaoAtual.fotoDaRespostaQuatroUrl">
                <img *ngIf="isImage(questaoAtual.fotoDaRespostaQuatroUrl)" [src]="questaoAtual.fotoDaRespostaQuatroUrl"
                  alt="Foto da questão" class="questao-foto">
                <video *ngIf="isVideo(questaoAtual.fotoDaRespostaQuatroUrl)"
                  [src]="questaoAtual.fotoDaRespostaQuatroUrl" controls controlsList="nodownload" class="questao-video">
                </video>
              </ng-container>
              <div *ngIf="questaoAtual.comentarioDaQuestaoCinco" class="img-comentario"
                [innerHTML]="questaoAtual.comentarioDaQuestaoCinco | safeHtml"></div>
              <ng-container *ngIf="questaoAtual.fotoDaRespostaCincoUrl">
                <img *ngIf="isImage(questaoAtual.fotoDaRespostaCincoUrl)" [src]="questaoAtual.fotoDaRespostaCincoUrl"
                  alt="Foto da questão" class="questao-foto">
                <video *ngIf="isVideo(questaoAtual.fotoDaRespostaCincoUrl)" [src]="questaoAtual.fotoDaRespostaCincoUrl"
                  controls controlsList="nodownload" class="questao-video">
                </video>
              </ng-container>
              <div *ngIf="questaoAtual.comentarioDaQuestaoSeis" class="img-comentario"
                [innerHTML]="questaoAtual.comentarioDaQuestaoSeis | safeHtml"></div>
              <p *ngIf="questaoAtual.referenciaBi" class="referencia-texto">Referência: {{ questaoAtual.referenciaBi }}</p>
              <p *ngIf="questaoAtual.comentadorDaQuestao" class="comentador-texto">Comentado por: {{ questaoAtual.comentadorDaQuestao }}</p>
            </div>

            <div class="navigation-fixed">
              <div class="navigation-buttons">
                <button *ngIf="!isMeuSimulado" class="btn-finalizar" (click)="finalizarSimulado()">Finalizar</button>
                <button *ngIf="jaRespondeu" class="btn-gabarito" (click)="exibirGabarito()">Comentário da
                  Questão</button>

                <button *ngIf="visualizando" class="btn-anterior" (click)="anteriorQuestao()"
                  [disabled]="paginaAtual === 0">Anterior</button>

                <button *ngIf="!isMeuSimulado" class="btn-responder"
                  (click)="questaoAtual && responderQuestao(questaoAtual)" [disabled]="radioDisabled">Responder</button>
                <button class="btn-proxima" (click)="proximaQuestao()">Próxima</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div>
        <div class="iniciar-simulado-container" *ngIf="!simuladoIniciado && !simuladoFinalizado">
          <h2 *ngIf="!nomeAlunoMentorado">Clique para Iniciar o Simulado</h2>
          <h2 *ngIf="nomeAlunoMentorado">Clique para Salvar o Simulado</h2>
          <button (click)="abrirModal()" class="btn-iniciar">
            {{ nomeAlunoMentorado ? 'Salvar Simulado' : 'Iniciar Simulado' }}
          </button>
        </div>

        <div *ngIf="simuladoFinalizado" class="results-page-container">
          <div class="results-card">

            <h4 class="results-header">Resultados do Simulado</h4>

            <div class="results-body">

              <div class="chart-container">
                <canvas id="graficoResultados" width="180" height="180"></canvas>
                <div class="chart-percentage">
                  {{ porcentagemAcertos }}%
                </div>
              </div>

              <div class="metrics-container">
                <div class="metric-item">
                  <h4>Desempenho</h4>
                  <p>
                    🎯 Acertos: {{ acertos }} / {{ totalQuestoes }}
                  </p>
                </div>
                <div class="metric-item">
                  <h4>Tempo</h4>
                  <p>
                    ⏱️ Finalizado em: {{ formatarTempo(tempoTotal) }}
                  </p>
                </div>
              </div>

            </div>

            <div class="results-actions">
              <button class="btn-secondary-action" (click)="revisarSimulado(simuladoIdRespondendo)">
                Revisar Gabarito
              </button>
              <button class="btn-primary-action"
                [routerLink]="['/usuario/metricas-detalhadas', simuladoIdRespondendo]">Ver Métricas Detalhadas</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>