<div class="container pt-5" *ngIf="!isLoadingPage; else pageLoadingTemplate">

    <div class="container mt-4" *ngIf="!erro; else errorTemplate">
        <div class="header">
            <h1 class="mt-4"><span> | </span>Módulo de {{ descricao }} </h1>
        </div>

        <button type="button" class="btn-voltar me-2" (click)="voltarPagina()">
            <i class="fa fa-arrow-left"></i>
            voltar
        </button>

        <div class="grid-container">
            <div class="principal-info">

                <ng-container *ngIf="aulas.length > 0; else noDataTemplate">
                    <div class="video-container">
                        <video #videoPlayer id="catarata-player"
                            class="video-js vjs-default-skin vjs-big-play-centered video-player" playsinline
                            controlsList="nodownload" (contextmenu)="$event.preventDefault()"
                            crossorigin="use-credentials">

                            <p class="vjs-no-js">
                                Para ver este vídeo, por favor ative o JavaScript e considere
                                atualizar para um navegador que
                                <a href="https://videojs.com/html5-video-support/" target="_blank"
                                    rel="noopener noreferrer">
                                    suporta vídeo HTML5
                                </a>.
                            </p>
                        </video>

                    </div>
                </ng-container>

                <div class="info-aula">
                    <div class="aula-header" *ngIf="aulas.length > 0 && videoAtual">
                        <div class="title-rating-row">
                            <h3>{{ videoAtual?.titulo }}</h3>
                            <div class="estrelas-aula">
                                <div class="stars">
                                    <img 
                                        *ngFor="let star of estrelas" 
                                        [src]="getStarIcon(star)"
                                        [alt]="'Estrela ' + star"
                                        class="star-icon"
                                        [class.star-filled]="isStarFilled(star)"
                                        [class.star-hover]="star <= hoverStar"
                                        (click)="avaliarAula(star)"
                                        (mouseenter)="onStarHover(star)"
                                        (mouseleave)="onStarLeave()"
                                        [attr.aria-label]="'Avaliar com ' + star + ' estrela' + (star > 1 ? 's' : '')"
                                        role="button"
                                        tabindex="0">
                                </div>
                            </div>
                        </div>
                        <div class="description-rating-row">
                            <p>{{ videoAtual?.descricao }}</p>
                            <div class="average-rating" *ngIf="totalAvaliacoes > 0">
                                <span class="rating-value">{{ mediaAvaliacoes | number:'1.1-1' }}</span>
                                <img [src]="getAverageStarIcon()" alt="Estrela" class="average-star-icon">
                                <span class="rating-count">({{ totalAvaliacoes }} {{ totalAvaliacoes === 1 ? 'avaliação' : 'avaliações' }})</span>
                            </div>
                        </div>
                    </div>

                    <div class="arquivos-aula">
                        <h4>Material da Aula</h4>
                        <hr>
                        <div
                            *ngIf="videoAtual && videoAtual.documentos && videoAtual.documentos.length > 0; else noMaterialTemplate">
                            <div class="list-group">
                                <div class="list-group-item" *ngFor="let documento of videoAtual?.documentos">
                                    <span>{{ formatFileName(documento.key) }}</span>
                                    <div>
                                        <button class="btn-vizualizar" (click)="viewPdf(documento.url)">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                            Visualizar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #noMaterialTemplate>
                            <span>Nenhum material adicionado</span>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="playlist-container">
                <app-playlist-mode *ngIf="categoria" [aulas]="aulas" [titulo]="descricao" [categoria]="categoria"
                    [videoAtualIndex]="videoAtualIndex" [videosAssistidos]="videosAssistidos"
                    (aulaSelecionada)="selecionarVideo($event.aula)">
                </app-playlist-mode>
            </div>
        </div>
    </div>
</div>

<ng-template #pageLoadingTemplate>
    <div class="loading-fullpage">
        <p>Carregando módulo...</p>
    </div>
</ng-template>

<ng-template #noDataTemplate>
    <div class="no-data">
        <img src="assets/imagens/not-data-aulas.png" alt="Sem aulas cadastradas">
        <p>Não há nenhuma aula cadastrada para este módulo.</p>
    </div>
</ng-template>

<ng-template #errorTemplate>
    <div class="error-container">
        <h2>Erro</h2>
        <p>{{ erro }}</p>
        <button (click)="goBack()">Voltar</button>
    </div>
</ng-template>