<div class="bg-primary"></div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <div class="text-center">
                                        <img src="assets/imagens/logoq-bank.svg" alt="" class="d-inline-block align-text-top" style="padding: 10px; height: 85px;">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    <form (submit)="goToResetPassword()">

                                        <div class="form-group-senha text-center">
                                            <label class="small mb-1 senha">Redefinir Senha</label>
                                            <input type="password" name="newPassword" [(ngModel)]="newPassword" class="form-control" placeholder="Nova senha" required />
                                        </div>
                                        <div class="form-group-senha text-center">
                                            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="Confirmar senha" required />
                                        </div>
                                    
                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0 d-flex">
                                            <button type="submit" class="btn btn-success btn-lg me-2 editar btn-custom">Enviar</button>
                                        </div>                                        
                                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
