<div class="main-container">
  <div class="mensagem-concuido">
    <img src="assets/Icons/concluido.svg" alt="Concluído" />
    <h1>Pagamento Concluído</h1>
  </div>
  <div class="descricao-concluido">
    <h3>
      Seu pagamento foi processado com sucesso. Agora você já pode acessar todo
      o conteúdo exclusivo da Oftlessons. 📩 <span>Confira seu e-mail</span>
      para mais detalhes e acessar a seu login.
    </h3>
  </div>
  <footer class="rodape-concluido">
    <p>
      Se não encontrar o e-mail na caixa de entrada, verifique o spam ou entre
      em contato com o suporte.
    </p>
    <span>Bons estudos!</span>
    <br>
    <a href="https://plataforma-oftlessons.com/login" class="btn-dashboard">Acesse o Dashboard</a>
  </footer>
</div>