<div class="modal" *ngIf="isVisible">
  <ng-container *ngIf="!isDeleteModalVisible">
    <div class="modal-content-wrapper">
      <div
        class="main-container"
        [ngClass]="{ 'summary-active': estado_atual === 'summary' }"
      >
        <img
          *ngIf="estado_atual !== 'summary'"
          class="modal-background-image"
          src="../../../assets/imagens/modal-background.png"
          alt="Fundo do modal"
        />
        <div
          class="modal-conteudo"
          [ngSwitch]="estado_atual"
          [ngClass]="{ 'summary-active': estado_atual === 'summary' }"
        >
          <ng-container *ngSwitchCase="'question'">
            <div class="header-content">
              <h2 class="tema-title">{{ getTemaNome() }}</h2>
              <div class="buttons-container" *ngIf="PermissaoFlashcards">
                <a (click)="editarFlashcard()" class="editar-button"
                  ><img src="../../../assets/Icons/lapis.svg"
                /></a>
                <button
                  type="button"
                  class="deletar-button"
                  (click)="openDeleteModal()"
                >
                  <img
                    src="../../../assets/Icons/lixeira-flashcards.svg"
                    alt="Excluir Flashcard"
                  />
                </button>
              </div>
            </div>

            <div *ngIf="currentCard?.fotoUrl" class="image-display-wrapper">
              <img
                [src]="currentCard?.fotoUrl"
                alt="Imagem da Pergunta"
                class="question-image-modal"
              />
            </div>

            <div [innerHTML]="currentCard?.pergunta" class="text"></div>

            <a class="button-resposta" (click)="showAnswer()"
              >Mostrar Resposta</a
            >
          </ng-container>

          <ng-container *ngSwitchCase="'answer'">
            <div class="tema-resposta">
              <h2 class="tema-title">{{ getTemaNome() }}</h2>
            </div>
            <div class="answer-section">
              <h2 class="resposta-title">Resposta</h2>
              <div class="text" [innerHTML]="currentCard?.resposta"></div>
            </div>

            <div class="next-button-section">
              <a
                class="button-resposta button-next"
                (click)="proximoFlashcard()"
              >
                Próximo Flashcard
              </a>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'summary'" class="summary">
            <div class="porcentagem-section">
              <h2 class="parabens">Parabéns!</h2>
            </div>

            <div class="summary-stats">
              <div class="stat-card">
                <img src="../../../assets/Icons/clock.svg" />
                <span class="stat-value">{{ tempoDecorrido }}</span>
                <span class="stat-label">Tempo</span>
              </div>
              <div class="stat-card">
                <img
                  src="../../../assets/Icons/flashcards-summary.svg"
                  alt=""
                />
                <span class="stat-value">{{ totalCardsEstudados }}</span>
                <span class="stat-label">Cards Estudados</span>
              </div>
            </div>
            <button class="summary-btn" (click)="onCloseClick()">
              Voltar para o início
            </button>
          </ng-container>
        </div>
      </div>

      <div class="button-fechar" *ngIf="estado_atual !== 'summary'">
        <button (click)="onCloseClick()">&times;</button>
      </div>
    </div>
  </ng-container>

  <app-deletar-flashcard-modal
    *ngIf="isDeleteModalVisible"
    [cardId]="currentCard!.id"
    (close)="onDeleteModalClose()"
    (finalClose)="onDeleteConfirm()"
  >
  </app-deletar-flashcard-modal>
</div>
