/* select.component.css */
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
}

label.active {
  top: 12px;
  left: 10px;
  font-size: 10px;
  color: #3f51b5;
  font-weight: 700;
  margin: 0;
}

.select-dropdown {
  background: var(--bg-input);
  padding: 10px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.selected-value {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
  padding-top: 8px;
}

.options-container {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: var(--bg-input);
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 12;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.option {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  background: var(--bg-input);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.option:hover,
.option.selected {
  background: var(--multiple-select-hover-bg);
  font-weight: 700;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6E7275;
  transition: border-top-color 0.3s ease;
}

.select-dropdown.active .arrow-down,
.select-dropdown:hover .arrow-down {
  border-top-color: #3f51b5;
}

.theme-group-main {
  margin-top: 16px;

  .option {
    margin-left: 15px;
  }
}

.theme-group-main:first-of-type {
  margin-top: 0;
}

.theme-label-main {
  font-weight: bold;               
  font-size: 16px;                 
  padding: 8px 12px;                              
  background-color: var(--multiple-select-group-label-bg);       
  color: var(--text-color);                     
  cursor: pointer;                
  border-radius: 4px; 
}

.theme-label-main:hover {
  background-color: var(--multiple-select-hover-bg);
}

.search-input {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline: none;
  }

.select-container.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.select-dropdown.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
  
}

.arrow-down.disabled {
  border-top-color: #6c757d !important;
  opacity: 0.5;
}

.select-container.disabled label,
.select-container.disabled label.active {
  color: #6c757d !important;
}

.select-container.disabled .selected-value {
  color: #6c757d !important;
}

.no-results {
  padding: 10px;
  text-align: center;
  color: #999;
  font-style: italic;
}

@media (max-width: 768px) {
  .select-container {
    width: 100%;
    height: 40px;
  }

  .select-dropdown {
    padding: 8px;
  }

  .selected-value {
    font-size: 12px;
  }

  label.active {
    top: 10px;
    font-size: 9px;
  }

}


