<div class="container pt-5">
    <div class="container mt-4">
      <h1 class="mt-4"> <span> | </span> Permissões </h1>
    </div>
  
    <div class="container">
      <div class="header-cont">
        <h1>Cadastrar usuários</h1>
        <div class="btn">
            <button type="button" (click)="openModal()">Adicionar +</button>
        </div>
    </div>
  
    <h2>Professores</h2>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let professor of paginatedProfessores">
                    <td><a href="#">{{ professor.nome }}</a></td>
                    <td>{{ professor.email }}</td>
                    <td>{{ professor.cidade }}</td>
                    <td>{{ professor.estado }}</td>
                    <td>
                      <button class="btn-editar btn-primary btn">
                        Editar
                        <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
                      </button>
                      <button class="btn-excluir btn-danger btn">
                        Excluir
                        <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-controls">
            <button class="nav-button" (click)="previousPage('professores')" [disabled]="pageIndexProfessores === 0">&lt;</button>
            <button class="page-number" *ngFor="let page of [].constructor(totalPagesProfessores); let i = index" (click)="goToPage('professores', i)" [class.active]="i === pageIndexProfessores">{{ i + 1 }}</button>
            <button class="nav-button" (click)="nextPage('professores')" [disabled]="pageIndexProfessores >= totalPagesProfessores - 1">&gt;</button>
        </div>
    </div>
  
      <h2>Alunos</h2>
      <div class="table-responsive">
        <table class="tabela">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aluno of paginatedAlunos">
                <td><a href="#">{{ aluno.nome }}</a></td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.cidade }}</td>
                <td>{{ aluno.estado }}</td>
                <td>
                  <button class="btn-editar btn-primary btn">
                    Editar
                    <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
                  </button>
                  <button class="btn-excluir btn-danger btn">
                    Excluir
                    <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-controls">
            <button class="nav-button" (click)="previousPage('alunos')" [disabled]="pageIndexAlunos === 0">&lt;</button>
            <button class="page-number" *ngFor="let page of [].constructor(totalPagesAlunos); let i = index" (click)="goToPage('alunos', i)" [class.active]="i === pageIndexAlunos">{{ i + 1 }}</button>
            <button class="nav-button" (click)="nextPage('alunos')" [disabled]="pageIndexAlunos >= totalPagesAlunos - 1">&gt;</button>
        </div>
      </div>
    </div>

    <app-modal [show]="showModal" (closeModal)="closeModal()" size="max-w-7xl" [footer]="false">
      <div class="container-modal sm:items-start">
        <div class="modal-header">
          <div class="content-header">
            <div class="close-modal">
              <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h3 id="modal-title">
              Cadastrar usuário
            </h3>
          </div>
        </div>
  
        <form [formGroup]="usuarioForm" class="form-content">
          <div class="grid grid-cols-12 gap-x-6 space-y-4">
            <div class="col-span-12 md:col-span-6">
              <div class="form-group">
                <label for="nome" class="form-label required text-left">Nome</label>
                <input type="text" id="nome" formControlName="nome" placeholder="Ex: Caio Fonseca" class="form-control"/>
              </div>
            </div>
  
            <div class="col-span-12 md:col-span-6">
              <div class="form-group">
                <label for="email" class="form-label required text-left">E-mail</label>
                <input type="email" id="email" formControlName="email" placeholder="Ex: caio@example.com" class="form-control"/>
              </div>
            </div>
  
            <div class="col-span-12 md:col-span-6">
              <div class="form-group">
                <label for="cidade" class="form-label required text-left">Cidade</label>
                <input type="text" id="cidade" formControlName="cidade" placeholder="Ex: São Paulo" class="form-control"/>
              </div>
            </div>
  
            <div class="col-span-12 md:col-span-6">
              <div class="form-group">
                <label for="estado" class="form-label required text-left">Estado</label>
                <input type="text" id="estado" formControlName="estado" placeholder="Ex: SP" class="form-control"/>
              </div>
            </div>
          </div>
        </form>
      </div>
  
      <div class="button-container">
        <button type="button" class="btn button-cancel" (click)="closeModal()">
          Cancelar
        </button>
        <button type="button" class="btn button-confirm" (click)="onFormSubmitHandler()">
            Cadastrar
        </button>
      </div>
    </app-modal>
  </div>