<div class="container pt-5">
    <div class="container mt-4">
      <h1 class="mt-4"> <span> | </span> Permissões </h1>
    </div>
  
    <div class="container">
      <div class="header-cont">
        <h1>Cadastrar usuários</h1>
        <div class="btn">
            <button type="button" (click)="openModalCadastrar()">Adicionar +</button>
        </div>
    </div>

    <!--Mensagem de erros-->
    <div class="alert alert-success" *ngIf="mensagemSucesso" >
      {{ mensagemSucesso }}
    </div>

      <!--Mensagem de erros-->
      <div class="alert alert" *ngFor="let error of errors" >
      {{ error }}
    </div>
  
    <h2>Professores</h2>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let professor of paginatedProfessores">
                    <td><a href="#">{{ professor.nome }}</a></td>
                    <td>{{ professor.email }}</td>
                    <td>{{ professor.cidade }}</td>
                    <td>{{ professor.estado }}</td>
                    <td>
                      <button class="btn-editar btn-primary btn" (click)="openModalAtualizar(professor.id)">
                        Editar
                        <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
                      </button>
                      <button class="btn-excluir btn-danger btn" (click)="removerUsuario(professor.id)">
                        Excluir
                        <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination-controls">
            <button class="nav-button" (click)="previousPage('professores')" [disabled]="pageIndexProfessores === 0">&lt;</button>
            <button class="page-number" *ngFor="let page of [].constructor(totalPagesProfessores); let i = index" (click)="goToPage('professores', i)" [class.active]="i === pageIndexProfessores">{{ i + 1 }}</button>
            <button class="nav-button" (click)="nextPage('professores')" [disabled]="pageIndexProfessores >= totalPagesProfessores - 1">&gt;</button>
        </div>
    </div>
  
    <h2>Alunos</h2>
    <div class="table-responsive">
      <table class="tabela">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of paginatedAlunos">
              <td><a href="#">{{ aluno.nome }}</a></td>
              <td>{{ aluno.email }}</td>
              <td>{{ aluno.cidade }}</td>
              <td>{{ aluno.estado }}</td>
              <td>
                <button class="btn-editar btn-primary btn" (click)="openModalAtualizar(aluno.id)">
                  Editar
                  <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
                </button>
                <button class="btn-excluir btn-danger btn" (click)="removerUsuario(aluno.id)">
                  Excluir
                  <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
                </button>
              </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-controls">
          <button class="nav-button" (click)="previousPage('alunos')" [disabled]="pageIndexAlunos === 0">&lt;</button>
          <button class="page-number" *ngFor="let page of [].constructor(totalPagesAlunos); let i = index" (click)="goToPage('alunos', i)" [class.active]="i === pageIndexAlunos">{{ i + 1 }}</button>
          <button class="nav-button" (click)="nextPage('alunos')" [disabled]="pageIndexAlunos >= totalPagesAlunos - 1">&gt;</button>
      </div>
    </div>
  

    <h2>Bolsistas</h2>
    <div class="table-responsive">
      <table class="tabela">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bolsista of paginatedBolsistas">
              <td><a href="#">{{ bolsista.nome }}</a></td>
              <td>{{ bolsista.email }}</td>
              <td>{{ bolsista.cidade }}</td>
              <td>{{ bolsista.estado }}</td>
              <td>
                <button class="btn-editar btn-primary btn" (click)="openModalAtualizar(bolsista.id)">
                  Editar
                  <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
                </button>
                <button class="btn-excluir btn-danger btn" (click)="removerUsuario(bolsista.id)">
                  Excluir
                  <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
                </button>
              </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-controls">
        <button class="nav-button" (click)="previousPage('bolsistas')" [disabled]="pageIndexBolsistas === 0">&lt;</button>
        <button class="page-number" *ngFor="let page of [].constructor(totalPagesBolsistas); let i = index" (click)="goToPage('bolsistas', i)" [class.active]="i === pageIndexBolsistas">{{ i + 1 }}</button>
        <button class="nav-button" (click)="nextPage('bolsistas')" [disabled]="pageIndexBolsistas >= totalPagesBolsistas - 1">&gt;</button>
      </div>
    </div>
  </div>
    <!-- Modal para cadastrar usuários -->

    <app-modal [show]="showModalCadastrar" (closeModal)="closeModalCadastrar()" size="max-w-7xl" [footer]="false">
      <div class="container-modal sm:items-start">
        <div class="modal-header">
          <div class="content-header">
            <div class="close-modal">
              <button type="button" class="close" aria-label="Close" (click)="closeModalCadastrar()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h3 id="modal-title">
              Cadastrar usuário
            </h3>
          </div>
        </div>
  
        <form [formGroup]="usuarioFormCadastro" class="form-content">
          <div class="grid grid-cols-12 gap-x-6 space-y-4">
            <!--Mensagem de erros-->
            <div class="alert alert-danger" *ngFor="let error of modalErrors" >
              {{ error }}
            </div>

            <!-- <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Login *</label>
                <input type="text" formControlName="username" name="username" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite seu username" required />
            </div> -->

            
            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">E-mail *</label>
                <input type="email" formControlName="email" name="email" class="form-control py-2 responsive-input" placeholder="Digite seu e-mail" required />
            </div>

            <div class="form-group">
              <label class="small mb-1" style="font-size: 1.2em;">Senha *</label>
              <div class="input-group">
                <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite sua senha" required />
                <div class="input-group-append">
                    <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                    <img *ngIf="!passwordVisible.password" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                    <img *ngIf="passwordVisible.password" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                    </div>
                </div>
            </div>
            </div>

            <div class="form-group">
              <label class="small mb-1" style="font-size: 1.2em;">Confirme sua senha *</label>
              <div class="input-group">
                <input type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Confirme sua senha" required />
                <div class="input-group-append">
                    <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('confirmPassword')">
                    <img *ngIf="!passwordVisible.confirmPassword" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                    <img *ngIf="passwordVisible.confirmPassword" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                    </div>
                </div>
            </div>
            </div>

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Nome *</label>
                <input type="text" formControlName="nome" name="nome" class="form-control py-2 responsive-input" placeholder="Digite o seu nome"  />
            </div>


            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Celular</label>
                <input type="text" formControlName="telefone" name="telefone" class="form-control py-2 responsive-input" placeholder="Digite o Celular (XX) XXXX-XXX" required />
            </div>

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Cidade</label>
                <input type="text" formControlName="cidade" name="cidade" class="form-control py-2 responsive-input" placeholder="Digite sua cidade" required />
            </div>

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Estado</label>
                <input type="text" formControlName="estado" name="estado" class="form-control py-2 responsive-input" placeholder="Digite seu Estado" required />
            </div>

            <div class="form-group">
              <label for="tipoUsuario" class="small mb-1">Tipo de Usuário *</label>
              <select
                id="tipoUsuario"
                name="tipoUsuario"
                formControlName="tipoUsuario"
                class="form-control py-2 responsive-input"
                required
              >
                <option value="" disabled selected>Selecione o tipo de usuário</option>
                <option *ngFor="let tipo of tiposPermissao" (value)="tipo">{{ tipo }}</option>
              </select>
            </div>
            
            <div *ngIf="usuarioFormCadastro.get('tipoUsuario')?.value === 'BOLSISTA'">
              <div>
                <label for="quantidadeDiasBolsa" class="small mb-1">Quantidade de Dias da Bolsa</label>
                <input type="number" formControlName="quantidadeDiasBolsa" placeholder="Informe a quantidade de dias da bolsa" class="form-control py-2 responsive-input" />
              </div>
            </div>
          
          </div>
        </form>
      </div>
  
      <div class="button-container">
        <button type="button" class="btn button-cancel" (click)="closeModalCadastrar()">
          Cancelar
        </button>
        <button type="button" class="btn button-confirm" (click)="cadastrarUsuarios()">
          Cadastrar
        </button>
      </div>
    </app-modal>

    <!-- Modal para atualizar informações do usuários -->
    <app-modal [show]="showModalAtualizar" (closeModal)="closeModalAtualizar()" size="max-w-7xl" [footer]="false">
      <div class="container-modal sm:items-start">
        <div class="modal-header">
          <div class="content-header">
            <div class="close-modal">
              <button type="button" class="close" aria-label="Close" (click)="closeModalAtualizar()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <h3 id="modal-title">
              Atualizar informações
            </h3>
          </div>
        </div>
  
        <form [formGroup]="usuarioFormUpdate" class="form-content">
          <div class="grid grid-cols-12 gap-x-6 space-y-4">
            
            <div class="alert alert-danger" *ngFor="let error of modalErrors" >
              {{ error }}
            </div>

            <!-- <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Login *</label>
                <input type="text" formControlName="username" name="username" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite seu username" required />
            </div> -->

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">E-mail *</label>
                <input type="email" formControlName="email" name="email" class="form-control py-2 responsive-input" placeholder="Digite seu e-mail" required />
            </div>

            <div class="form-group">
              <label class="small mb-1" style="font-size: 1.2em;">Senha *</label>
              <div class="input-group">
                <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite sua senha" required />
                <div class="input-group-append">
                    <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                    <img *ngIf="!passwordVisible.password" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                    <img *ngIf="passwordVisible.password" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                    </div>
                </div>
            </div>
            </div>


            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Nome *</label>
                <input type="text" formControlName="nome" name="nome" class="form-control py-2 responsive-input" placeholder="Digite o seu nome"  />
            </div>

            
            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Celular</label>
                <input type="text" formControlName="telefone" name="telefone" class="form-control py-2 responsive-input" placeholder="Digite o Celular (XX) XXXX-XXX" required />
            </div>

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Cidade</label>
                <input type="text" formControlName="cidade" name="cidade" class="form-control py-2 responsive-input" placeholder="Digite sua cidade" required />
            </div>

            <div class="form-group">
                <label class="small mb-1" style="font-size: 1.2em;">Estado</label>
                <input type="text" formControlName="estado" name="estado" class="form-control py-2 responsive-input" placeholder="Digite seu Estado" required />
            </div>  
          </div>
        </form>
      </div>
  
      <div class="button-container">
        <button type="button" class="btn button-cancel" (click)="closeModalAtualizar()">
          Cancelar
        </button>
        <button type="button" class="btn button-confirm" (click)="editarUsuarios()">
          Gravar alterações
        </button>
      </div>
    </app-modal>
  </div>