<div class="container pt-5">
  <div class="container mt-4" style="position: relative;">

    <button *ngIf="idAlunoMentorado" (click)="fecharPopup()" class="close-popup-button" aria-label="Fechar">
      &times;
    </button>

    <h1 class="mt-4">
      |
      <ng-container *ngIf="idAlunoMentorado; else meusSimulados">
        Simulados de "{{ nomeAlunoMentorado }}"
      </ng-container>
      <ng-template #meusSimulados>
        Meus Simulados
      </ng-template>
    </h1>

    <mat-progress-bar *ngIf="carregando" mode="indeterminate"></mat-progress-bar>

    <div *ngIf="mensagemSucesso" class="alert alert-success custom-alert">
      {{ mensagemSucesso }}
    </div>

    <div *ngIf="!carregando">
      <div *ngIf="simulados.length > 0; else noSimulados">
        <div *ngFor="let simulado of simulados" class="card mt-3">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title d-flex align-items-center">
                <img
                  [src]="!isDarkMode() ? 'assets/imagens/ibm-simulated-side.svg' : 'assets/Icons/dark/ibm-simulated-side-dark.svg'"
                  alt="Ícone de Simulado" class="icon-lista me-1">
                Nome: {{ simulado.nomeSimulado }}
              </h5>
              <p class="card-text">
                Assunto: {{ simulado.assunto }}
              </p>

              <p class="card-text">
                Criado por: {{ simulado.criadoPor }}
              </p>

              <p class="card-text">
                Status: <span class="badge bg-info text-dark">{{ descricaoStatusSimulado(simulado.statusSimulado)
                  }}</span>
              </p>
            </div>
            <div>
              <div class="actions-container">

                <button *ngIf="simulado.statusSimulado === 'FINALIZADO'" class="btn-custom btn-resultado"
                  (click)="simulado.id && abrirResultadoDialog(simulado.id)" matTooltip="Ver Gráfico de Desempenho">
                  <i class="fas fa-chart-pie"></i> Resultado
                </button>

                <button class="btn-custom btn-outline" (click)="editarSimulado(simulado.id!)"
                  [disabled]="isBotaoBloqueado(simulado.statusSimulado)">
                  {{ getBotaoSimuladoTexto(simulado.statusSimulado) }}
                  <img [src]="!isDarkMode() ? 'assets/imagens/fil.svg' : 'assets/Icons/dark/fil-dark.svg'" alt="Ícone"
                    class="icon-btn">
                </button>

                <button *ngIf="simulado.statusSimulado === 'FINALIZADO'" class="btn-custom btn-success-custom"
                  (click)="abrirMetricas(simulado)">
                  Verificar Métricas
                  <img
                    [src]="!isDarkMode() ? 'assets/imagens/metricas-simulado.svg' : 'assets/Icons/dark/metrica-simulado-dark.svg'"
                    alt="" class="icon-btn">
                </button>

                <button class="btn-custom btn-danger-custom" (click)="deletarSimulado(simulado.id!)">
                  <i class="fas fa-trash-alt"></i> Deletar
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <ng-template #noSimulados>
        <div class="no-filters-message">
          <p>Nenhum Simulado Salvo.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>