<div class="container">
    <div class="icon">
        <img src="../../../assets/Icons/Flashcards-temas.svg"/>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <span class="title">{{subtema}}</span>
            <div class="cards-estudados-container">
                <mat-progress-bar class="progress-bar" mode="determinate" value={{porcentagem}}></mat-progress-bar>
                <span class="cards-estudados">{{cards_estudados}}/{{cards_total}} Cards Estudados</span>
            </div>
        </div>
        <a class="button-right"><img src="../../../assets/Icons/Right-icon.svg" alt=""></a>
    </div>
</div>
