<div class="container pt-5">
    <div class="container mt-4">
        <div class="header">
            <h1 class="mt-4"><span> | </span> {{ categoria }} </h1>
        </div>

        <div class="grid-container">
              <div class="video-container">
                <video controls class="video-player" [src]="videoAtual?.urlVideo" *ngIf="videoAtual" (ended)="marcarComoAssistido(videoAtualIndex)">
                  Seu navegador não suporta o elemento de vídeo.
                </video>
              </div>
            <div class="playlist-container">
              <app-playlist-mode
                [aulas]="aulas"
                [titulo]="categoria"
                [categoria]="categoria"
                [videoAtualIndex]="videoAtualIndex"
                (aulaSelecionada)="reproduzirVideo($event.aula, $event.index)">
              </app-playlist-mode>
            </div>
        </div>
        <div class="info-aula">
          <div *ngIf="aulas.length > 0">
            <h3>{{ videoAtual?.titulo }}</h3>
            <p>{{ videoAtual?.descricao }}</p>
          </div>
        </div>
    </div>
  </div>