#layoutAuthentication #layoutAuthentication_content {
    background-image: url('src/assets/imagens/tela-ofi.png'); 
    background-size: cover;
    background-position: center; 
}

.btn-primary {
    color: #fff;
    background-color:#3B5FA0;
    border-color:#3B5FA0;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 5px;
  
}
.form-control{
    background-color:#b1afaf;
    font-size: 13px;
}
.btn-lg {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}


@media screen and (min-width: 1024px) {
    .btn-lg{
        width: 460px;
    }
}

.alert.alert-danger{
    background-color: #CC3939;
    color: #fff;
    border-color: #CC3939;
}

.responsive-input {
    width: 460px;
    height: 45px;
    margin-left: 10px;
}

.form-group {
     margin-bottom: 0.1rem; 
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
    .responsive-input {
        width: 340px;
      
    }
}


.card-header{
    background: #0F1934;
}
.card-footer{
    background: #0F1934;
}



.row.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa pelo menos a altura da viewport */
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(226 225 220 / 94%);
}

.text-center{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

input::placeholder {
    color: rgb(118, 118, 118);
}


.green-text {
    color: #3B5FA0;
    font-weight: bold;
    font-size: 14px;
}

.white-text {
    color: white;
    font-size: 14px;
}

.small{
    padding: 8px;
}
.small a {
    text-decoration: none; /* Remove a linha de sublinhado apenas dos links dentro da classe .small */
}

