<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <div class="text-center">
                                        <img src="assets/imagens/logo-oftlessons.svg" alt="" class="d-inline-block align-text-top" style="padding: 20px; height: 85px;">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    <!-- Mensagem de Atenção 
                                    <div class="alert alert-warning">
                                        Por usarmos uma hospedagem gratuita, o logar/cadastrar demora alguns segundos/minutos.
                                        Agradeçemos a compreensão.💙
                                    </div>
                                    -->

                                    <form #loginForm="ngForm" (submit)="onSubmit();">

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Login</label>
                                            <input type="text" name="username" [(ngModel)]="username" autocomplete="off" class="form-control py-2 responsive-input" 
                                            placeholder="Digite seu username" />
                                        </div>


                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Senha</label>
                                            <input type="password" name="password" [(ngModel)]="password" class="form-control py-2 responsive-input"
                                            placeholder="Digite sua senha" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">E-mail</label>
                                            <input type="email" name="email"
                                                [(ngModel)]="email"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite seu e-mail" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Nome da Empresa</label>
                                            <input type="text" name="nome"
                                                [(ngModel)]="nome"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite o nome de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Telefone</label>
                                            <input type="text" name="telefone"
                                                [(ngModel)]="telefone"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite o telefone de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">CPF</label>
                                            <input type="text" name="cpf"
                                                [(ngModel)]="cpf"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite o CPF de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Rua</label>
                                            <input type="text" name="rua"
                                                [(ngModel)]="rua"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite a rua de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Número</label>
                                            <input type="text" name="numero"
                                                [(ngModel)]="numero"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite o número de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Cidade</label>
                                            <input type="text" name="cidade"
                                                [(ngModel)]="cidade"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite a cidade de sua empresa" />
                                        </div>

                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"  style="font-size: 1.2em;">Estado</label>
                                            <input type="text" name="estado"
                                                [(ngModel)]="estado"
                                                class="form-control py-4 responsive-input"
                                                placeholder="Digite o estado de sua empresa" />
                                        </div>

                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                                            <div class="col-sm-12 col-md-6"> <!-- Controla o tamanho da coluna em dispositivos pequenos e médios -->
                                                <button type="submit" class="btn btn-primary btn-lg btn-block" *ngIf="!cadastrando">
                                                    Entrar
                                                </button>
                                            </div>


                                            <button type="button" class="btn btn-success" 
                                                    (click)="cadastrar()"
                                                    *ngIf="cadastrando">
                                                Cadastrar
                                            </button>

                                            <button type="button" (click)="cancelaCadastro()"
                                                    class="btn btn-danger ml-1" *ngIf="cadastrando">
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastrar($event)">
                                            <span class="white-text">Ainda não possui uma conta? </span> <span class="green-text">Crie agora!</span>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
