<div class="bg-primary"></div>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <div class="text-center">
                                        <img src="assets/imagens/logoq-bank.svg" alt="" class="d-inline-block align-text-top" style="padding: 10px; height: 85px;">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>

                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>

                                    <!-- Login Form -->
                                    <form #loginForm="ngForm" *ngIf="!cadastrando && !showForgotPassword" (submit)="onSubmit()">

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Login</label>
                                            <input type="text" name="username" [(ngModel)]="username" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite seu username" required />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Senha</label>
                                            <div class="input-group">
                                              <input type="password" name="password" [(ngModel)]="password" class="form-control py-2 responsive-input" placeholder="Digite sua senha" required />
                                              <div class="input-group-append">
                                                <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                                                  <img *ngIf="!passwordVisible.password" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                                                  <img *ngIf="passwordVisible.password" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                                                </div>
                                              </div>
                                            </div>
                                        </div>                               

                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0">
                                            <div class="col-sm-12 col-md-6">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-sm-12 col-md-6 text-center"> 
                                            <a href="#" class="small mb-1 text-decoration-none text-primary forgot-password-link" (click)="forgotPassword($event)">
                                                <span>Esqueceu sua senha?</span> Recupere aqui!
                                            </a>
                                        </div>
                                    </form>

                                    <!-- Register Form -->
                                    <form *ngIf="cadastrando" (submit)="cadastrar()">

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Login *</label>
                                            <input type="text" name="username" [(ngModel)]="username" autocomplete="off" class="form-control py-2 responsive-input" placeholder="Digite seu username" required />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label for="password" class="small mb-1" style="font-size: 1.2em;">Senha *</label>
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control py-2 responsive-input" placeholder="Digite sua senha" required 
                                                (input)="validatePassword()" (focus)="showTooltip = true" (blur)="showTooltip = false"/>
                                                <div class="input-group-append">
                                                    <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                                                    <img *ngIf="!passwordVisible.password" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                                                    <img *ngIf="passwordVisible.password" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- <div class="password-errors">
                                                <div *ngFor="let error of errors" class="error-tooltip">{{error}}</div>
                                            </div> -->
                                            <!-- Tooltip para Regras de Senha -->
                                            <div *ngIf="showTooltip" class="password-tooltip">
                                                <p class="tooltip-title">A senha precisa ter:</p>
                                                <ul>
                                                <li [class.valid]="passwordValidations.minLength">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    Ao menos 8 caracteres
                                                </li>
                                                <li [class.valid]="passwordValidations.uppercase">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    1 letra maiúscula
                                                </li>
                                                <li [class.valid]="passwordValidations.lowercase">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    1 letra minúscula
                                                </li>
                                                <li [class.valid]="passwordValidations.number">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    1 número
                                                </li>
                                                <li [class.valid]="passwordValidations.specialChar">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    1 caractere especial
                                                </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Confirmar senha</label>
                                            <div class="input-group">
                                                <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control py-2 responsive-input" placeholder="Confirme sua senha" />
                                                <div class="input-group-append">
                                                    <div class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('confirmPassword')">
                                                    <img *ngIf="!passwordVisible.confirmPassword" src="assets/imagens/view.svg" alt="Mostrar senha" width="16" height="16">
                                                    <img *ngIf="passwordVisible.confirmPassword" src="assets/imagens/view-off.svg" alt="Ocultar senha" width="16" height="16">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Nome *</label>
                                            <input type="text" name="nome" [(ngModel)]="nome" class="form-control py-2 responsive-input" placeholder="Digite o seu nome"  />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">E-mail *</label>
                                            <input type="email" name="email" [(ngModel)]="email" class="form-control py-2 responsive-input" placeholder="Digite seu e-mail" required />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Celular</label>
                                            <input type="text" name="telefone" [(ngModel)]="telefone" class="form-control py-2 responsive-input" placeholder="Digite o Celular (XX) XXXX-XXX" required />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Cidade</label>
                                            <input type="text" name="cidade" [(ngModel)]="cidade" class="form-control py-2 responsive-input" placeholder="Digite sua cidade" required />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Estado</label>
                                            <input type="text" name="estado" [(ngModel)]="estado" class="form-control py-2 responsive-input" placeholder="Digite seu Estado" required />
                                        </div>
                                        
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="small mb-1" style="font-size: 1.2em;">Você é?</label>
                                            <select name="tipoEstudante" [(ngModel)]="tipoDeEstudante" class="form-select py-2 responsive-input" required>
                                                <option value="" disabled selected>Selecione o tipo de usuário</option>
                                                <option *ngFor="let tipo of tiposUsuario" [value]="tipo.key">
                                                    {{ tipo.description }}
                                                </option>
                                            </select>                                              
                                        </div>

                                        <!-- Checkbox para consentimento dos termos -->
                                        <div class="col-sm-12 mt-3 termos">
                                            <input type="checkbox" id="consentimento" [(ngModel)]="consentimento" name="consentimento" required />
                                            <label for="consentimento" class="ms-2">
                                                Eu concordo com os 
                                                <a href="assets/docs/pp.pdf" target="_blank">Termos de Uso</a> e a 
                                                <a href="assets/docs/pp.pdf" target="_blank">Política de Privacidade</a>.
                                            </label>
                                        </div>

                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0 d-flex">
                                            <button type="button" class="btn btn-danger btn-lg me-2  btn-custom" (click)="cancelaCadastro()">Voltar</button>
                                            <button type="submit" class="btn btn-success btn-lg me-2  btn-custom" [disabled]="!consentimento">Cadastrar</button>
                                        </div>

                                    </form>


                                    <!-- Forgot Password Form -->
                                    <form *ngIf="showForgotPassword" (submit)="sendForgotPasswordEmail()">

                                        <div class="form-group-senha text-center">
                                            <label class="small mb-1 senha">E-mail para recuperação de senha da plataforma</label>
                                            <input type="email" name="forgotEmail" [(ngModel)]="forgotEmail" class="form-control" placeholder="Digite seu e-mail cadastrado para recuperar sua senha" required />
                                        </div>
                                    
                                        <div class="form-group align-items-center justify-content-between mt-4 mb-0 d-flex">
                                            <button type="button" class="btn btn-danger btn-lg me-2 editar btn-custom" (click)="cancelForgotPassword()">Voltar</button>
                                            <button type="submit" class="btn btn-success btn-lg me-2 editar btn-custom">Enviar</button>
                                        </div>                                        
                                    
                                    </form>
                                    
                                </div>

                                <div class="card-footer text-center">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastrar($event)" *ngIf="!cadastrando && !showForgotPassword">
                                            <span class="white-text">Ainda não possui uma conta? </span> <span class="green-text">Crie agora!</span>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
