#layoutAuthentication #layoutAuthentication_content {
    background-image: url('src/assets/imagens/tela-ofi.png'); 
    background-size: cover;
    background-position: center; 
}

.btn-primary {
    color: #fff;
    background-color:#3B5FA0;
    border-color:#3B5FA0;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 5px;
}

.form-control{
    background-color:#b1afaf;
    font-size: 13px;
}

.text-primary {
    margin-top: 5px;
    color: #000000; /* Cor primária desejada */
    font-size: 13px;
    font-weight: 200px;
    font-weight: 700;
}

.form-group-senha {
    margin-bottom: 20px; /* Ajuste a margem inferior conforme necessário */
}

.form-group-senha .form-control {
    border-color: #ced4da; /* Cor da borda do campo de entrada */
    border-radius: 10px; /* Raio do canto da borda */
    padding: 12px; /* Ajuste do preenchimento interno */
    font-size: 16px; /* Tamanho da fonte */
    color: #495057; /* Cor do texto */
    height: 50px;
}

.form-group-senha .senha {
    font-weight: bold; /* Texto em negrito */
    text-transform: uppercase; /* Transformação de texto para maiúsculas */
}


.form-control,
.btn-lg {
  width: 100%;
}

.btn-lg {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

.alert.alert-danger{
    background-color: #CC3939;
    color: #fff;
    border-color: #CC3939;
}

.responsive-input {
    width: 100%;
    height: 45px;
}

.form-group {
    margin-bottom: 0.1rem;
    flex-direction: column;
    align-items: start;
    width: 100%; 
}

.col-md-6 {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .btn-lg{
        width: 100%;
    }

    .responsive-input {
        width: 100%;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .col-md-6 {
        max-width: 100%;
    }
}

/* Responsive styles for smaller screens */
@media (min-width: 767px) {
    .responsive-input {
        width: 100%;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .col-md-6 {
        max-width: 100%;
    }
}

.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-header{
    background: #0F1934;
}

.card-footer{
    background: #0F1934;
}

.row.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa pelo menos a altura da viewport */
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(226 225 220 / 94%);
}

.text-center{
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

.btn-success {
    background-color: #28a745; /* Cor de fundo para o botão Enviar */
    border-color: #28a745; /* Cor da borda para o botão Enviar */
    color: #fff; /* Cor do texto para o botão Enviar */
}

.btn-danger {
    background-color: #dc3545; /* Cor de fundo para o botão Cancelar */
    border-color: #dc3545; /* Cor da borda para o botão Cancelar */
    color: #fff; /* Cor do texto para o botão Cancelar */
}

.btn-lg {
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    font-size: 17px; /* Ajuste o tamanho da fonte conforme necessário */
}


input::placeholder {
    color: rgb(118, 118, 118);
}

.green-text {
    color: #3B5FA0;
    font-weight: bold;
    font-size: 14px;
}

.white-text {
    color: white;
    font-size: 14px;
}

.small{
    padding: 8px;
}

.small a {
    text-decoration: none; /* Remove a linha de sublinhado apenas dos links dentro da classe .small */
}

