<div class="modal-overlay" role="dialog" aria-modal="true" aria-labelledby="ofensivaTitle">
  <div class="modal-box">

    <div class="modal-header">
      <h1><span class="ofensiva-tittle">1 dia de ofensiva</span></h1>
      <p class="ofensiva-text">Continue acessando o Oftlessons diariamente para manter sua ofensiva!</p>
    </div>
    <div class="modal-image-container">
      <img src="assets/imagens/storm.svg" alt="storm" class="modal-image" />
    </div>

    <div class="modal-content">
      <div class="days-container">
        <span class="day">Seg</span>
        <span class="day">Ter</span>
        <span class="day">Qua</span>
        <span class="day">Qui</span>
        <span class="day">Sex</span>
        <span class="day">Sab</span>
        <span class="day">Dom</span>
      </div>
    </div>

    <img src="assets/imagens/boneca-ofensivo-removebg.png" alt="boneca ofensivo" class="boneca-ofensivo" />
  </div>
</div>
