<div class="container pt-5">
  <div class="container mt-4">
    <div class="header">
      <h1 class="mt-4"><span>|</span> Flashcards</h1>
      <div class="buttons-container">
        <button class="button" (click)="navigateToCadastro()">
          Criar Flashcards
        </button>
      </div>
    </div>

    <div class="loading-container" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>

    <div class="cards-grid" *ngIf="!isLoading">
      <app-flashcards-temas-cards
        [tema]="'Geral'"
        [numeroFlashcards]="totalGeral"
        [caminho]="null"
        (acaoEstudar)="estudarGeral()"
      >
      </app-flashcards-temas-cards>

      <app-flashcards-temas-cards
        *ngFor="let info of listaDeTemas"
        [tema]="info.titulo"
        [numeroFlashcards]="info.qtdFlashcards"
        [caminho]="info.rota"
      >
      </app-flashcards-temas-cards>
    </div>
  </div>

  <app-flashcard-modal
    [isVisible]="isModalVisible"
    [flashcards]="flashcardsEstudo"
    [temaEstudo]="'Geral - Todos os Temas'"
    [sessaoId]="sessaoId"
    [startingIndex]="0"
    (close)="fecharModal()"
  >
  </app-flashcard-modal>
</div>
