.container {
  max-width: 1300px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 12px 16px;
  height: 50%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--light-blue);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #234178; 
}

.buttons-container {
  display: flex;
  gap: 16px;
}

