<div class="playlist">
    <div class="playlist-title">
        <h2>TÍTULO RETINA E SUAS...</h2>
        <span>Retina 1/10</span>
    </div>

        <div class="modal-content">
            <div class="modal-body">
                <div class="lesson">
                    <img src="" alt="">
                    <span class="lesson-title">Introdução</span>
                    <span class="check-icon">✔</span>
                </div>
                <div class="lesson">
                    <img src="" alt="">
                    <span class="lesson-title">Subtema de retina</span>
                    <span class="check-icon">✔</span>
                </div>
                <div class="lesson">
                    <img src="" alt="">
                    <span class="lesson-title">Subtema de retina</span>
                    <span class="check-icon">✔</span>
                </div>
            </div>
        </div>
    </div>