.container {
  max-width: 1300px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.cont-hello {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mt-4 {
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: var(--text-color)
}

.span {
  font-size: 16px;
  color: #0f1934;
}

.text-p {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.card {
  margin-top: 10px;
  background: #0f1934;
  font-family: "Nunito Sans", sans-serif;
}

.card-pesquisa {
  margin-top: 10px;
  background: #edb120;
  font-family: "Nunito Sans", sans-serif;
  border: none !important;
}

.card-title {
  color: #cddaef !important;
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
}

.p-title {
  color: #080808;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}

.icon 
{
  margin-bottom: 5px;
  margin-top: 10px;
}
.icon-fi {
  width: 55px;
  height: 55px;
  margin-top: 5px;
}
.icon-t{
  width: 55px;
  height: 55px;
  margin-top: 5px;
}

.btn {
  margin-top: 10px;
  background-color: transparent;
  border-color: transparent;
}

.btn:hover {
  color: #6be26b;
}

.btn-pesquisa {
  color: #080808;
  font-weight: 500;
}

.btn-pesquisa:hover {
  color: #256cd0;
}

.contagem {
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-top: 10px;
}

.timer span {
  font-size: 24px;
  color: #0f1934;
  font-family: "Nunito Sans", sans-serif;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 10px;
  backdrop-filter: blur(10px);
}

/* Responsividade */
@media (max-width: 920px) {

  .card, .card-pesquisa {
    margin-top: 0;
    width: 100% !important;
  }

  .col-md-3 {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .col-md-3 {
    width: 100% !important;
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5) !important;
}


.modal.show .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Cinza escuro com transparência */
}

/* Garante que o modal fique centralizado corretamente */
.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que ocupe toda a tela */
}

.modal.show .modal-content {
  max-width: 600px; /* Define um tamanho máximo para o modal */
  margin: auto;
  border-radius: 10px; /* Bordas arredondadas para um design mais bonito */
  margin-bottom: 300px;
}


.btn-close {
  background-color: white;
  border: none; /* Remove qualquer borda, se houver */
  color: black; /* Altera a cor do ícone de fechar, se necessário */
}

.btn-close:hover {
  color: gray; /* Cor do ícone ao passar o mouse */
}
