<div class="container pt-5">
    <div class="container mt-4">
        <h1 class="mt-4"> 👋 Seja Bem-vindo, {{ nomeUsuario }} </h1>
        <h3 class="text-p"> <span> | </span> Painel de Controle</h3>

        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Questões</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/Group.svg" alt="Ícone de Empresa de Engenharia" class="icon">
                        </div>
                        <a routerLink="/usuario/questoes" class="btn btn-primary">Acessar > </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Meus Filtros</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/fi.svg" alt="Ícone de Empresa de Engenharia" class="icon-fi">
                        </div>
                        <a routerLink="/usuario/filtro" class="btn btn-primary">Acessar > </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Desempenho</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/desempenho.svg" alt="Ícone de Empresa de Engenharia" class="icon">
                        </div>
                        <a routerLink="/usuario/desempenho" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Meu Perfil</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/perfil-of.svg" alt="Ícone de Empresa de Engenharia" class="icon">
                        </div>
                        <a routerLink="/usuario/meu-perfil" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Simulados</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/simu-white.svg" alt="Ícone de Empresa de Engenharia" class="icon">
                        </div>
                        <a routerLink="/usuario/simulados" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Meus simulados</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/ibm-simulated.svg" alt="Ícone de Empresa de Engenharia" class="icon">
                        </div>
                        <a routerLink="/usuario/meus-simulados" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4" *ngIf="isAdmin()">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cadastro de Questão</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/ca.svg" alt="Ícone de Cadastro" class="icon">
                        </div>
                        <a routerLink="/usuario/cadastro-questao" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>              
            <div class="col-md-3 mb-4" *ngIf="isAdmin()">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Buscar Questão</h5>
                        <div class="card-icon">
                            <img src="assets/imagens/bu.svg" alt="Ícone de Buscar" class="icon">
                        </div>
                        <a routerLink="/usuario/buscar-questão" class="btn btn-primary">Acessar ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
