<div class="container pt-5">
  <div class="container mt-4 container-geral">
    <div class="header-container">
      <h2>{{ questaoDTO.id ? 'Edição da Questão' : 'Cadastro da Questão' }}</h2>
    </div>
    <form class="form-cad" #questaoForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="questaoDTO.id">
        <div class="col-md-6">
          <div class="form-group">
            <label>ID:</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="questaoDTO.id" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Data Cadastro:</label>
            <input type="text" class="form-control" name="diaDoCadastro" [(ngModel)]="questaoDTO.diaDoCadastro"
              disabled>
          </div>
        </div>
      </div>
      <div>
        <span class="div-section">
          Especifique as características da questão para o filtro:
        </span>
        <hr class="line">
      </div>
      <div class="select-input">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Ano"
                [options]="anos"
                [(selectedValue)]="questaoDTO.ano">
              </app-select-padrao>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Dificuldade"
                [options]="dificuldades"
                [(selectedValue)]="questaoDTO.dificuldade">
              </app-select-padrao>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Tema"
                [options]="temas"
                [(selectedValue)]="questaoDTO.tema">
              </app-select-padrao>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Subtema"
                [options]="subtemas"
                [(selectedValue)]="questaoDTO.subtema">
              </app-select-padrao>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Tipo de Prova"
                [options]="tiposDeProva"
                [(selectedValue)]="questaoDTO.tipoDeProva">
              </app-select-padrao>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Relevância"
                [options]="relevancias"
                [(selectedValue)]="questaoDTO.relevancia">
              </app-select-padrao>
            </div>
          </div>
        </div>
      </div>

      <div>
        <hr class="line">
        <span class="div-section">
          Digite todas as informações do enunciado da questão:
        </span>
        <hr class="line">
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Enunciado da Questão: </label>
            <textarea class="form-control" rows="4" name="enunciadoDaQuestao"
              [(ngModel)]="questaoDTO.enunciadoDaQuestao" placeholder="Digite o enunciado da questão"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-radio-group [(ngModel)]="questaoDTO.tipoItemQuestao" name="tipoItemQuestao">
              <mat-radio-button value="texto"
                style="display: inline-block; margin-right: 10px;">Texto</mat-radio-button>
              <mat-radio-button value="imagem" style="display: inline-block;">Imagem</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div *ngIf="questaoDTO.tipoItemQuestao === 'texto'">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Enunciado 1: </label>
              <textarea class="form-control" rows="2" name="afirmacaoUm" [(ngModel)]="questaoDTO.afirmacaoUm"
                placeholder="Digite a afirmação da questão"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Enunciado 2: </label>
              <textarea class="form-control" rows="2" name="afirmacaoDois" [(ngModel)]="questaoDTO.afirmacaoDois"
                placeholder="Digite a afirmação da questão"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Enunciado 3: </label>
              <textarea class="form-control" rows="2" name="afirmacaoTres" [(ngModel)]="questaoDTO.afirmacaoTres"
                placeholder="Digite a afirmação da questão"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Enunciado 4: </label>
              <textarea class="form-control" rows="2" name="afirmacaoQuatro" [(ngModel)]="questaoDTO.afirmacaoQuatro"
                placeholder="Digite a afirmação da questão"></textarea>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="questaoDTO.tipoItemQuestao === 'imagem'">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Afirmativa 1: </label>
              <div class="image-upload" (drop)="onDrop($event, 'afirmacaoUm')" (dragover)="onDragOver($event)">
                <input type="file" id="afirmacaoUm" name="afirmacaoUm" (change)="onFileSelected($event, 'afirmacaoUm')"
                  accept="image/*" style="display: none;" />
                <label for="afirmacaoUm">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['afirmacaoUm']" [src]="imagePreviews['afirmacaoUm']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['afirmacaoUm']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Afirmativa 2: </label>
              <div class="image-upload" (drop)="onDrop($event, 'afirmacaoDois')" (dragover)="onDragOver($event)">
                <input type="file" id="afirmacaoDois" name="afirmacaoDois"
                  (change)="onFileSelected($event, 'afirmacaoDois')" accept="image/*" style="display: none;" />
                <label for="afirmacaoDois">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['afirmacaoDois']" [src]="imagePreviews['afirmacaoDois']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['afirmacaoDois']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Afirmativa 3: </label>
              <div class="image-upload" (drop)="onDrop($event, 'afirmacaoTres')" (dragover)="onDragOver($event)">
                <input type="file" id="afirmacaoTres" name="afirmacaoTres"
                  (change)="onFileSelected($event, 'afirmacaoTres')" accept="image/*" style="display: none;" />
                <label for="afirmacaoTres">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['afirmacaoTres']" [src]="imagePreviews['afirmacaoTres']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['afirmacaoTres']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Afirmativa 4: </label>
              <div class="image-upload" (drop)="onDrop($event, 'afirmacaoQuatro')" (dragover)="onDragOver($event)">
                <input type="file" id="afirmacaoQuatro" name="afirmacaoQuatro"
                  (change)="onFileSelected($event, 'afirmacaoQuatro')" accept="image/*" style="display: none;" />
                <label for="afirmacaoQuatro">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['afirmacaoQuatro']" [src]="imagePreviews['afirmacaoQuatro']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['afirmacaoQuatro']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Assinale: </label>
              <input type="text" class="form-control" name="assinale" [(ngModel)]="questaoDTO.assinale"
                placeholder="Digite o campo de assinale aqui" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr class="line">
        <span class="div-section">
          Imagem para o enunciado da questão:
        </span>
        <hr class="line">
      </div>
      <div class="cont-imgs">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <div class="image-upload" (drop)="onDrop($event, 'fotoDaQuestao')" (dragover)="onDragOver($event)">
                <input type="file" id="fotoDaQuestao" name="fotoDaQuestao"
                  (change)="onFileSelected($event, 'fotoDaQuestao')" accept="image/*" style="display: none;" />
                <label for="fotoDaQuestao">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['fotoDaQuestao']" [src]="imagePreviews['fotoDaQuestao']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['fotoDaQuestao']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>

<div class="container mt-4 container-geral">
  <div class="header-container"> 
    <h2>Alternativas da Questão</h2>
  </div>
  <form class="form-cad" #questaoForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <span class="div-section">
        Gabarito da questão a ser cadastrada:
      </span>
      <hr class="line">
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Marque a Alternativa Correta da Questão:</label>
        <div class="form-group">
          <mat-radio-group [(ngModel)]="questaoDTO.tipoItemQuestaoImagem" name="updateTipoItemQuestaoImagem">
            <mat-radio-button value="texto" (click)="updateTipoItemQuestaoImagem('texto')"
              style="display: inline-block; margin-right: 10px;">Texto</mat-radio-button>
            <mat-radio-button value="imagem" style="display: inline-block;"
              (click)="updateTipoItemQuestaoImagem('imagem')">Imagem</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="questaoDTO.tipoItemQuestaoImagem === 'texto'">
          <div *ngFor="let alternativa of questaoDTO.alternativas; let i = index" class="container-alternativa">
            <input type="radio" [name]="questaoDTO.tipoItemQuestaoImagem + 'Alternativa'" (click)="markCorrect(i)"
              [checked]="alternativa.correta">
            <div class="col-md-12">
              <div class="form-group">
                <label>Alternativa {{ alternativa.texto }}</label>
                <input type="text" class="form-control" name="comentario{{i}}"
                  [(ngModel)]="alternativa.comentario" placeholder="Digite o enunciado da alternativa" />
              </div>
            </div>
          </div>
        </div>
  
  
        <div *ngIf="questaoDTO.tipoItemQuestaoImagem=== 'imagem'">
          <div *ngFor="let alternativa of questaoDTO.alternativas; let i = index">
            <div class="image-container">
              <input type="radio" [name]="questaoDTO.tipoItemQuestaoImagem + 'Alternativa'"
                (click)="markCorrectImage(i)" [checked]="alternativa.correta" class="checkbox">
              <div class="image-upload" (drop)="onDrop($event, 'afirmacao' + i)" (dragover)="onDragOver($event)">
                <input type="file" id="afirmacao{{ i }}" name="afirmacao{{ i }}"
                  (change)="onFileSelectedImage($event, 'afirmacao' + i)" accept="image/*" style="display: none;" />
                <label for="afirmacao{{ i }}">
                  <div class="image-preview" id="imagePreview{{ i }}">
                    <img *ngIf="imagePreviews['afirmacao' + i]" [src]="imagePreviews['afirmacao' + i]"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['afirmacao' + i]">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container mt-4 container-geral">
  <div class="header-container"> 
    <h2>Gabarito Comentado da Questão</h2>
  </div>
  <form class="form-cad" #questaoForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <span class="div-section">
        Descreva os comentário da questão:
      </span>
      <hr class="line">
    </div>
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="form-group">
          <label>Comentário da Alternativa (A): </label>
          <textarea class="form-control" rows="3" name="comentarioDaQuestaoUm"
            [(ngModel)]="questaoDTO.comentarioDaQuestaoUm"
            placeholder="Digite o comentário da alternativa A"></textarea>
        </div>
      </div> -->

      <div class="form-group">
        <label>Comentário do Gabarito:</label>
        <div id="toolbar">
          <!-- Add font size dropdown -->
          <select class="ql-header">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option selected></option>
          </select>
            <!-- Add a bold button -->
            <button class="ql-bold"></button>
            <!-- Add an italic button -->
            <button class="ql-italic"></button>
            <!-- Add an underline button -->
            <button class="ql-underline"></button>
            <!-- Add a color picker -->
            <select class="ql-color"></select>
            <!-- Add a background color picker -->
            <select class="ql-background"></select>
            <!-- Add subscript and superscript buttons -->
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
            <!-- Add a blockquote button -->
            <button class="ql-blockquote"></button>
            <!-- Add a code block button -->
            <button class="ql-code-block"></button>
            <!-- Add a list button -->
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <!-- Add an indent button -->
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <!-- Add a link button -->
            <button class="ql-link"></button>
            <!-- Add an image button -->
            <button class="ql-image"></button>
            <!-- Add a video button -->
            <button class="ql-video"></button>
            <!-- Add a clean button -->
            <button class="ql-clean"></button>
          </div>
        
        <!-- Quill Editor Container -->
        <div id="editor" class="form-control" name="comentarioDaQuestaoDois"
          [(ngModel)]="questaoDTO.comentarioDaQuestaoDois">
        </div>
      </div>

      <!-- <div class="col-md-6">
        <div class="form-group">
          <label>Comentário da Alternativa (C): </label>
          <textarea class="form-control" rows="3" name="comentarioDaQuestaoTres"
            [(ngModel)]="questaoDTO.comentarioDaQuestaoTres"
            placeholder="Digite o comentário da alternativa C"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Comentário da Alternativa (D): </label>
          <textarea class="form-control" rows="3" name="comentarioDaQuestaoQuatro"
            [(ngModel)]="questaoDTO.comentarioDaQuestaoQuatro"
            placeholder="Digite o comentário da alternativa D"></textarea>
        </div>
      </div> -->
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Referência: </label>
          <input type="text" class="form-control" name="referenciaBi" [(ngModel)]="questaoDTO.referenciaBi"
            placeholder="Digite a referência" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome do Professor Comentador da Questão: </label>
          <input type="text" class="form-control" name="comentadorDaQuestao"
            [(ngModel)]="questaoDTO.comentadorDaQuestao" placeholder="Digite o nome do professor comentador" />
        </div>
      </div>
    </div>
  
    <div *ngIf="questaoDTO.tipoItemQuestao === 'imagem'">
      <div>
        <hr class="line">
        <span class="div-section">
          Imagens da Resolução da Questão:
        </span>
        <hr class="line">
      </div>
      <div class="cont-imgs">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <div class="image-upload" (drop)="onDrop($event, 'fotoDaResposta')" (dragover)="onDragOver($event)">
                <input type="file" id="fotoDaResposta" name="fotoDaResposta"
                  (change)="onFileSelected($event, 'fotoDaResposta')" accept="image/*" style="display: none;" />
                <label for="fotoDaResposta">
                  <div class="image-preview" id="imagePreview">
                    <img *ngIf="imagePreviews['fotoDaResposta']" [src]="imagePreviews['fotoDaResposta']"
                      alt="Image Preview" />
                    <span *ngIf="!imagePreviews['fotoDaResposta']">
                      <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;">
                      clique ou arraste a imagem para fazer upload
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 container-btn">
      <button type="button" class="btn btn-secundary" routerLink="/usuario/dashboard"
        *ngIf="!questaoDTO.id">Voltar</button>
      <button type="submit" class="btn btn-primary" *ngIf="!questaoDTO.id">Salvar</button>
      <button type="submit" class="btn btn-primary" *ngIf="questaoDTO.id">Atualizar</button>
    </div>
  </form>
</div>