<div class="container pt-5">
    <div class="container mt-4">
      <h1 class="mt-4"> <span> | </span> Meu Desempenho</h1>

        <div class="row">
          <div class="col-md-6">
            <div class="chart-container">
              <!-- Bar Chart 1 -->
              <div style="display: block;">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
              </div>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="chart-container">
              <!-- Bar Chart 2 -->
             
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="chart-container">
            
            </div>
          </div>
          <div class="col-md-6">
            <div class="chart-container">
            
            </div>
          </div>
        </div>
    </div>
</div>
