.container {
    max-width: 1300px;
    padding: 6px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-p{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.chart-container {
    width: 100%; /* Ajusta o container para ocupar toda a largura disponível */
    max-width: 100%; /* Garante que o container não exceda 100% da largura */
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #8C8E94;
    border-radius: 5px;
    margin-bottom: 20px;
}



@media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
}

.chart-container {
    background-color: #f2f2f2;
    border: 2px solid #8C8E94; 
    border-radius: 5px;
    padding: 10px;
}

canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
}

