<div class="container pt-5">
  <div class="container mt-4">
    <h1 class="mt-4"> <span> | </span> Meu Desempenho</h1>

    <!-- Gráficos de Pizza: Acertos e Erros por Tipo de Prova -->
    <div class="row">
      <div class="col-md-4" *ngFor="let pie of pieChartsData">
        <div class="chart-container" style="height: 260px;">
          <h5 class="text-center" style="color: black; font-weight: bold;">{{ pie.title }}</h5>

          <ng-container *ngIf="(pie.data[0] + pie.data[1]) > 0; else noData">
            <canvas baseChart
                    [data]="pie.data"
                    [labels]="pie.labels"
                    [chartType]="pie.chartType"
                    [options]="pie.options"
                    [colors]="pie.colors"
                    [legend]="true">
            </canvas>
          </ng-container>

          <ng-template #noData>
            <p class="text-center text-muted">Sem dados disponíveis</p>
          </ng-template>
        </div>
      </div>
    </div>


    <!-- Gráfico 3: Acertos e Erros por Mês -->
    <div class="row">
      <div class="col-md-12">
        <div class="chart-container">
          <div style="display: block;">
            <canvas baseChart
                    [datasets]="barChartData3"
                    [labels]="barChartLabels3"
                    [options]="barChartOptions3"
                    [legend]="barChartLegend"
                    [chartType]="barChartType3">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráfico 2: Quantidade de Questões Feitas por Tema -->
    <div class="row">
      <div class="col-md-12">
        <div class="chart-container">
          <div style="display: block;" class="container-height">
            <canvas baseChart
              [datasets]="barChartData2"
              [labels]="barChartLabels2"
              [options]="barChartOptions2"
              [legend]="barChartLegend"
              [chartType]="barChartType">
          </canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráfico 4: Acertos e Erros por Tema -->
    <div class="row">
      <div class="col-md-12">
        <div class="chart-container">
          <div style="display: block;" class="container-height">
            <canvas baseChart
              [datasets]="barChartData4"
              [labels]="barChartLabels4"
              [options]="barChartOptions4"
              [legend]="barChartLegend"
              [chartType]="barChartType">
          </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
