.conteudo-questao {
  display: flex;
  flex-direction: column;
  color: #0e0e0e;
  background-color: #d2cfcf;
  border-radius: 15px;
  padding: 20px; /* Adicionei padding para espaçamento interno */
  margin-bottom: 10px;
}
.conteudo-questao p {
  padding: 10px; /* Espaçamento para o parágrafo */
  margin: 0; /* Remover margens padrão */
  font-size: 16px;
}
.questao-foto {
  max-width: 350px;
  height: auto;
  display: block;
  margin: 20px auto 0 auto;
  margin-bottom: 10px;
}

.questao-video {
  width: 500px;
  height: auto;
  display: block;
  margin-bottom: 16px;
  margin: 10px auto;
}

.identificadores-questao {
  display: flex;
  color: #101010;
  background-color: #d2cfcf;
  border-radius: 15px;
  padding: 2px;
  margin-bottom: 10px;
  align-items: center; /* Alinha os itens verticalmente no centro */
}
.identificadores-questao h3 {
  font-size: 14px;
  margin: 0 14px 0 22px;
}

.identificadores-questao-resul {
  display: flex;
  justify-content: space-between; /* Faz com que os itens fiquem nas extremidades */
  align-items: center; /* Alinha os itens verticalmente no centro */
  color: #101010;
  background-color: #d2cfcf;
  border-radius: 15px;
  padding: 2px 10px; /* Adicionado espaço interno horizontal */
  margin-bottom: 10px;
}

.identificadores-questao-resul h2 {
  font-size: 14px;
  margin: 0;
  margin-left: 12px;
}

.h2-result{
  margin-left: 12px;
}

.identificadores-questao-resul select {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #101010;
  font-size: 14px;
  margin-right: 15px;
}

.questoes-icone {
  display: inline-block; /* Garante que o ícone seja tratado como um bloco inline */
  width: 20px; /* Ajuste o tamanho conforme necessário */
  height: 20px;
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  background-image: url("src/assets/Icons/setaDireta.svg");
  background-size: contain; /* Faz com que o ícone se ajuste dentro do tamanho definido */
  background-repeat: no-repeat; /* Garante que a imagem não repita */
  background-position: center; /* Centraliza o ícone */
  vertical-align: middle; /* Alinha verticalmente com o texto */
}



.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.example-radio-button {
  margin: 5px;
}
/* Restante do seu CSS */
.container {
  max-width: 1300px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.text-p {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-filters {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters-container {
  margin-top: 20px;
  background: #94979d;
  border-radius: 5px;
  padding: 50px;
}

.erro-mensagem {
  color: red;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  flex: 1;
  margin-right: 10px;
  width: 100%;
}
.col:last-child {
  margin-right: 0;
}
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}


.button-row {
  display: flex;
  justify-content: space-between; /* Distribui as áreas à esquerda e à direita */
  align-items: center;
  margin-top: 20px;
  gap: 10px; /* Espaço entre as seções */
}

.left-buttons, 
.right-buttons {
  display: flex;
  gap: 10px; /* Espaçamento entre botões */
}

.right-buttons button {
  flex: 1; /* Faz os botões se adaptarem ao espaço disponível */
  min-width: 100px;
}

/* PORECNTAGEM */
.progress-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 40%; /* Ajuste a largura do contêiner geral */
}

.progress-bar {
  height: 48px;
  background-color: #007bff;
  text-align: center;
  color: #000000;
  border-radius: 8px;
  display: flex;
  margin-bottom: 10px;
}

.progress-label {
  margin-left: 8px;
  font-weight: 700;
  font-size: 16px;
}

.progress {
  width: 100%;
  background: #ffffff; 
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.itens-progresso {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.progress-inner {
  height: 40px;
  background: #041E4E;
  transition: width 0.4s ease;
}

.progress-inner span {
  text-align: center;
  margin: 14px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .button-row {
    flex-direction: column; /* Empilha os botões */
    align-items: stretch; /* Faz os botões preencherem toda a largura */
  }

  .left-buttons, 
  .right-buttons {
    justify-content: center; /* Centraliza os botões */
  }

  .right-buttons button {
    width: 100%; /* Faz os botões ocuparem a largura total */
  }
}

@media (max-width: 768px) {
  .button-row-filtro {
    flex-direction: column; /* Empilha os botões verticalmente */
  }

  .btn-filtrar, .btn-salvar, .btn-filtrar-geral {
    width: 100%; /* Botões ocupam 100% da largura */
    margin-bottom: 10px; /* Espaçamento entre botões */
  }

  .img-container {
    margin: 10px 0;
  }

  .questao-foto {
    max-width: 90%; /* Reduz a imagem um pouco em telas pequenas */
  }

  .progress-container {
    width: 100%; /* Ajuste a largura do contêiner geral */
  }
}


.icon {
  margin-right: 10px;
  width: 20px;
}
.btn-secondary {
  background-color: #6c757d; /* Cor de fundo do botão Cancelar */
  color: #fff; /* Cor do texto do botão Cancelar */
}

.btn-success {
  background-color: #28a745; /* Cor de fundo do botão Confirmar */
  color: #fff; /* Cor do texto do botão Confirmar */
}
.btn-success:hover {
  background-color: #218838; /* Cor de fundo do botão Confirmar no hover */
}
.btn-filtros {
  margin-top: 12px;
  padding: 10px 20px;
  width: 200px;
  background-color: #041e4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-filtrar {
  margin-top: 12px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 230px;
  background-color: #EDB120;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-filtrar-geral {
  margin-top: 12px;
  padding: 10px 20px;
  width: 230px;
  background-color: #5d7196;
  margin-right: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-salvar {
  margin-top: 12px;
  padding: 10px 20px;
  width: 230px;
  background-color: #3b5fa0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.btn:last-child {
  margin-right: 0;
}
.btn:hover {
  background-color: #0056b3;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  width: 280px;
}
.mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  cursor: pointer;
  background: aliceblue;
}
.form-control-input {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.palavra-chave {
  background-color: aliceblue;
  width: 100%;
  height: 48px;
  border-radius: 8px;
}

p {
  word-wrap: break-word; /* Quebra a linha em palavras longas */
  overflow-wrap: anywhere; /* Adapta texto longo em qualquer ponto */
  margin: 10px 0;
}


.espaco-select{
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  ::ng-deep
    .mat-form-field-type-mat-select:not(.mat-form-field-disabled)
    .mat-form-field-flex {
    width: 100%;
  }

  .palavra-chave {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
}
/* Estilos para o card de confirmação */
.card-confirmacao {
  max-width: 400px;
  margin: 20px auto;
}
.card-confirmacao .card-body {
  padding: 20px;
}
.card-confirmacao .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.card-confirmacao .card-text {
  margin-bottom: 20px;
}
.card-confirmacao .btn {
  margin-right: 10px;
}
.alert {
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #f4a261;
  border-radius: 5px;
  &.alert-info {
    background-color: #f0f8ff;
    color: #000000;
    font-size: 14px;
  }
  &.alert-custom {
    background-color: #f4a261;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
}

.button-row-filtro {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between; /* Espaça os botões entre as extremidades */
  align-items: center;
  margin-top: 20px;
}
.left-buttons {
  display: flex;
  justify-content: flex-start;
}
.right-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaço entre os botões da direita */
}
.btn-gabarito {
  padding: 10px 20px;
  width: 130px;
  border: 2px solid #f4a261; /* Borda da cor especificada */
  border-radius: 5px;
  background-color: #f4a261; /* Background transparente */
  color: #000; /* Cor do texto preto */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}



.btn-anterior,
.btn-proxima,
.btn-responder {
  padding: 10px 20px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
.btn-anterior {
  background-color: #2a4d7b;
}
.btn-proxima {
  background-color: #3b5fa0;
}
.btn-responder {
  background-color: #28a745;
}
.btn-anterior:disabled {
  background-color: #9a9a9a;
  cursor: not-allowed;
}
.alert-success {
  background-color: #399918;
  color: #020202;
  font-size: 16px;
  border-color: #399918;
}
.alert-danger {
  background-color: #F5004F;
  color: #ffffff;
  font-size: 16px;
  border-color: #F5004F;
}
.alternativa {
  display: flex;
  align-items: center;
  border-radius: 5px; /* Border radius for rounded corners */
  padding: 10px; /* Padding for better spacing */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions for background and border color */
}

.error-message {
  background-color: #FFAD60;
  color: rgb(0, 0, 0);
  border: 1px solid #FFAD60;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px;
  font-weight: bold;
  margin-top: 10px;
}


.alternativa-certa::after {
  content: '';
  display: inline-block;
  width: 25px; 
  height: 25px; 
  background-image: url('src/assets/Icons/confirmar.png');
  background-size: cover;
  margin-left: 8px;
}

.alternativa-errada::after {
  content: '';
  display: inline-block;
  width: 25px; 
  height: 25px;
  background-image: url('src/assets/Icons/Error.png');
  background-size: cover;
  margin-left: 8px
}


.alternativa-input-group {
  display: flex;
  align-items: center;
}
.alternativa-input-group input[type="radio"] {
  margin-right: 10px;
}
.alternativa-texto {
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}
.alternativa-comentario {
  font-size: 16px;
  color: #000000;
}

.img-alternativas img {
  width: 200px;
}

/* Responsividade para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .button-row-filtro {
    flex-wrap: nowrap; /* Mantém os botões em uma única linha */
    justify-content: flex-start; /* Alinha os botões à esquerda */
    gap: 10px; /* Espaçamento entre os botões */
  }

  .btn-filtrar, 
  .btn-salvar, 
  .btn-filtrar-geral {
    flex: 1 1 30%; /* Cada botão ocupa 30% da linha */
    margin-bottom: 0; /* Remove o espaçamento vertical */
    max-width: 30%; /* Limita a largura para não exceder 30% */
  }
}


.selecione-text{
  font-size: 16px;
}

.img-comentario{
  font-size: 16px;
}
.img-comentario {
  white-space: pre-wrap; /* Preserva quebras de linha e espaços */
  word-break: break-word; /* Quebra palavras longas */
}


.letra-parenteses {
  white-space: nowrap; 
  font-weight: bold;
  padding: 2px;
  margin-right: 10px;
}

.filtros-container {
  max-height: 1000px; /* Defina um valor grande o suficiente para conter o conteúdo */
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, padding 0.8s ease-in-out;
}

.filtros-container-open {
  max-height: 0;
}
