<div class="container pt-5">
    <div class="container mt-4">
      <div class="header">
        <h1 class="mt-4"><span> | </span> Questões</h1>
        <button class="btn-filtros"  routerLink="/usuario/filtro" >
            <img src="assets/imagens/q-f.svg" alt="Ícone do Filtro" class="icon">
            Filtros
        </button>
      </div>
    </div>
  
    <div class="filters-container">
      <div class="row">
        <div class="col">
          <select class="form-select">
            <option value="">Selecione o Ano</option>
            <!-- opções adicionais -->
          </select>
        </div>
        <div class="col">
          <select class="form-select">
            <option value="">Tipo de Prova</option>
            <!-- opções adicionais -->
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-select">
            <option value="">Tema</option>
            <!-- opções adicionais -->
          </select>
        </div>
        <div class="col">
          <select class="form-select">
            <option value="">Subtema</option>
            <!-- opções adicionais -->
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-select">
            <option value="">Dificuldade</option>
            <!-- opções adicionais -->
          </select>
        </div>
        <div class="col">
          <select class="form-select">
            <option value="">Palavra-Chave</option>
            <!-- opções adicionais -->
          </select>
        </div>
      </div>
      <div class="button-row">
        <button class="btn-salvar">Salvar Filtro</button>
        <button class="btn-filtrar">Filtrar</button>
      </div>
    </div>
  </div>
  