/* Container Geral */
.container {
  max-width: 1300px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}

.container-geral {
  background-color: var(--bg-container);
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 16px;
  padding: 0;
  gap: 8px;
  border-radius: 8px;
}

.form-cad {
  margin: 16px;
  color: var(--text-color);
}

/* Header */
.header-container {
  background-color: #0f1934;
  text-align: start;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
}

.header-container h2 {
  color: #ffffff !important;
  padding: 16px;
  margin: 0;
}

/* Formulário Geral */
.formulario {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 24px;
  gap: 16px;
}

.form-group {
  width: 100%;
}

.form-group small {
  color: var(--placeholder-color) !important;
  font-size: 14px;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-input);
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-right: 45px;
}

textarea {
  max-height: 200px;
  overflow-y: auto;
}

/* Botões de Ação */
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}

.btn-primary {
  margin-top: 12px;
  padding: 10px 20px;
  width: 150px;
  background-color: #041e4e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secundary {
  margin-top: 12px;
  padding: 10px 20px;
  width: 150px;
  background-color: #3b5fa0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 16px !important;
}

.button-envio {
  display: flex;
  width: 90%;
  margin: 16px;
  gap: 14px;
  justify-content: flex-end;
}

.button-envio button {
  color: #ffffff;
  background-color: #0f1934;
  font-size: 14px;
  font-weight: 700;
  width: 100px;
}

.button-envio button:hover {
  background-color: transparent;
  border: 1px solid #0f1934;
  color: #111111;
}

/* Imagens e Upload */
.image-upload {
  border: 2px dashed var(--border-color);
  border-radius: 5px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.foto-preview {
  max-width: 100%;
  /* width: 300px; */
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  background: var(--bg-input);
}

.foto-preview img,
.foto-preview video {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-upload input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.preview-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-remove-image:hover {
  background-color: rgba(200, 0, 0, 0.9);
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  width: 50px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.cont-imgs {
  display: flex;
  width: 100%;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-input);
}

textarea::placeholder,
input[type="text"]::placeholder {
  color: var(--placeholder-color);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-secondary {
  margin-top: 12px;
  padding: 10px 20px;
  width: 150px;
  background-color: #939393;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container-geral {
    width: 92%;
  }

  .btn-container {
    justify-content: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .button-envio {
    margin: 8px;
  }

  .button-envio button {
    width: 80px;
  }

  .col {
    width: 80%;
  }

  .cont-imgs {
    flex-direction: column;
  }

  .col-imagens {
    display: flex;
    flex-direction: column !important;
  }
}


.loading-spinner-small {
  border: 4px solid #f3f3f3;
  /* Cinza claro */
  border-top: 4px solid #3498db;
  /* Azul */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.upload-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
}

.progress {
  width: 70%;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  height: 25px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease;
  white-space: nowrap;
}

.btn-cancelar {
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}