<div *ngIf="usuario && usuario.permissao === Permissao.ADMIN">
    <div class="container pt-5">
     <div class="container mt-4 container-geral">
       <div class="header-container">
         <h2>Cadastro de aulas</h2>
       </div>
       <form class="form-cad" #aulaForm="ngForm" (ngSubmit)="onSubmit()">
         <!-- <div class="row">
           <div class="col-md-6">
             <div class="form-group">
               <label>ID:</label>
               <input type="text" class="form-control" name="id"  disabled>
             </div>
           </div>
           <div class="col-md-6">
             <div class="form-group">
               <label>Data Cadastro:</label>
               <input type="text" class="form-control" name="diaDoCadastro" disabled>
             </div>
           </div>
         </div> -->
   
         <div>
           <hr class="line">
           <span class="div-section">
             Selecione o módulo da aula:
           </span>
           <hr class="line">
         </div>

         <div class="col-md-6">
            <div class="form-group">
              <app-select-padrao
                label="Módulo"
                [options]="categoriaAula"
                [customStyles]="{'background': '#EFEFEF'}">
              </app-select-padrao>
            </div>
          </div>
   
         <div>
           <hr class="line">
           <span class="div-section">
             Digite os dados da vídeoaula:
           </span>
           <hr class="line">
         </div>
         <div class="cont-imgs">
           <div class="form-group">
             <div class="image-upload" (drop)="onDrop($event, 'fotoDaQuestao')" (dragover)="onDragOver($event)">
               <input type="file" id="fotoDaQuestao" name="fotoDaQuestao"
                 (change)="onFileSelected($event, 'fotoDaQuestao')" accept="image/*,video/*" style="display: none;" />
               <label for="fotoDaQuestao">
                 <div class="foto-preview" id="fotoPreview">
                   <ng-container *ngIf="fotoPreviews['fotoDaQuestao']">
                     <img *ngIf="isPreviewImage(fotoPreviews['fotoDaQuestao'])" [src]="fotoPreviews['fotoDaQuestao']" alt="Image Preview" />
                     <video *ngIf="isPreviewVideo(fotoPreviews['fotoDaQuestao'])" [src]="fotoPreviews['fotoDaQuestao']" controls></video>
                   </ng-container>
                   <span *ngIf="!fotoPreviews['fotoDaQuestao']" class="upload-placeholder">
                     <img src="assets/imagens/img-foto.svg" style="width: 50px; opacity: 0.5;" class="upload-icon">
                     Clique para fazer upload do vídeo
                   </span>
                 </div>
               </label>
             </div>
           </div>
         </div>
         
         <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Digite o título da aula" required>
          </div>
          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" class="form-control" rows="3" placeholder="Digite a descrição da aula" required></textarea>
          </div>

          <div class="container mt-4 container-btn">
            <button type="button" class="btn btn-secundary" routerLink="/usuario/dashboard">Voltar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <!-- <button type="submit" class="btn btn-primary">Atualizar</button> -->
          </div>
       </form>
   </div>
   
       <div class="row">
         <div class="col-md-12">
           <div *ngIf="successMessage" class="alert alert-success" role="alert">
             {{ successMessage }}
           </div>
           <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
             {{ errorMessage }}
           </div>
         </div>
       </div>
   </div>
</div>