<div class="container pt-5">
  <div class="container mt-4">
    <div class="header">
      <h1 class="welcome-message">👋 Seja Bem-vindo(a), {{ nomeUsuario }} </h1>
      <div class="happy-message-container">
        <app-happy-message-popup></app-happy-message-popup>
      </div>
      <div class="filtro-select">
        <app-select-padrao
          [options]="opcoesFiltro"
          [selectedValue]="filtroSelecionado"
          [label]="'Filtrar por'"
          (selectedValueChange)="onFiltroSelecionado($event)"
          placeholder="Filtrar por"
        ></app-select-padrao>
      </div>
    </div>
    <div class="estatisticas">
      <div class="card-estatistica">
        <img [src]="isDarkMode() ? 'assets/Icons/dark/v-dark.svg' : 'assets/Icons/v.svg'" alt="Ícone de Respostas Certas">
        <div class="card-text-estatistica">
          <h3>{{ respostasCertas }}</h3>
          <p>Respostas Certas</p>
        </div>
      </div>
      <div class="card-estatistica">
        <img [src]="isDarkMode() ? 'assets/Icons/dark/x-dark.svg' : 'assets/Icons/x.svg'" alt="Ícone de Respostas Erradas">
        <div class="card-text-estatistica">
          <h3>{{ respostasErradas }}</h3>
          <p>Respostas Erradas</p>
        </div>
      </div>
      <div class="card-estatistica">
        <img [src]="isDarkMode() ? 'assets/Icons/dark/au-ofi-dark.svg' : 'assets/Icons/au-ofi.svg'" alt="Ícone de Aulas">
        <div class="card-text-estatistica">
          <h3>{{ aulasAssistidas }}</h3>
          <p>Aulas Assistidas</p>
        </div>
      </div>
      <div class="card-estatistica">
        <img [src]="isDarkMode() ? 'assets/Icons/dark/flashcards-dark.svg' : 'assets/Icons/flashcards.svg'" alt="Ícone de Flashcards">
        <div class="card-text-estatistica">
          <h3>{{ flashcardsEstudados }}</h3>
          <p>Flashcards Estudados</p>
        </div>
      </div>
    </div>
    <div class="banner-trilha">
      <div class="banner-text">
        <h2>Revise seus estudos e aprenda como nunca antes!</h2>
        <p>Crie sua programação de estudos e conquiste novos resultados.</p>
      </div>
      <button
        class="banner-button"
        (click)="abrirModalConfiguracaoTrilha()"
        >
        Criar minha trilha de revisões
        <img src="assets/Icons/arrow-updown.svg" alt="seta">
      </button>
    </div>
    <div class="section">
      <h2>Principais recursos para você</h2>
      <div class="container-row">
        <div class="mb-4" *ngIf="possuiPermissao">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Questões</h5>
              <div class="card-icon">
                <img src="assets/Icons/dark/caderno-dark.svg" alt="Ícone de Questões" class="icon"/>
              </div>
              <a routerLink="/usuario/questoes" class="btn btn-primary">
                Acessar >
              </a>
            </div>
          </div>
        </div>

        <div class="mb-4" *ngIf="possuiPermissao">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Simulados</h5>
              <div class="card-icon">
                <img src="assets/Icons/dark/simu-dark.svg" alt="Ícone de Simulados" class="icon"/>
              </div>
              <a routerLink="/usuario/simulados" class="btn btn-primary">
                Acessar >
              </a>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Flashcards</h5>
              <div class="card-icon">
                <img src="assets/Icons/dark/flashcards-dark.svg" alt="Ícone de Flashcard" class="icon"/>
              </div>
              <button (click)="redirecionarFlashcard()" class="btn btn-primary">
                Acessar >
              </button>
              <!--
              <div *ngIf="mostrarMensagemFlashcard" class="mensagem">
                Em breve novas funcionalidades disponíveis para você 😃.
              </div>
                -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <h2>Pesquisa de Satisfação</h2>
      <div class="container-row">
        <div class="mb-4">
          <div class="card satisfacao">
            <div class="card-body text-center">
              <h5 class="card-title">Pesquisa de Satisfação</h5>
               <div class="card-icon">
                <img src="assets/Icons/pes.svg" alt="Ícone de Pesquisa" class="icon" style="width: 50px; height: 50px;">
              </div>
              <a
                href="https://forms.gle/owp46GkkmZDNq4sq9"
                class="btn btn-primary btn-pesquisa"
                target="_blank"
                rel="noopener noreferrer">
                Acessar >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="modalTrilhaAberto || modalConfirmacaoAberto">
  <div class="modal-trilha" *ngIf="modalTrilhaAberto">
    <div class="modal-header">
      <h2>Configurar minha programação de revisões</h2>
      <button class="btn-close" (click)="modalTrilhaAberto = false">&times;</button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Quais dias você quer revisar? *</label>
        <div class="dias-semana">
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Segunda')}"
            (click)="toggleDiaSelecionado('Segunda')">Segunda</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Terça')}"
            (click)="toggleDiaSelecionado('Terça')">Terça</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Quarta')}"
            (click)="toggleDiaSelecionado('Quarta')">Quarta</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Quinta')}"
            (click)="toggleDiaSelecionado('Quinta')">Quinta</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Sexta')}"
            (click)="toggleDiaSelecionado('Sexta')">Sexta</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Sábado')}"
            (click)="toggleDiaSelecionado('Sábado')">Sábado</button>
          <button
            class="btn-dia"
            [ngClass]="{'selected': verificarDiaSelecionado('Domingo')}"
            (click)="toggleDiaSelecionado('Domingo')">Domingo</button>
        </div>
      </div>

      <div class="form-group">
        <label>Defina quanto tempo você quer dedicar à revisão nesses dias? *</label>
        <div class="tempo-container">
          <div class="tempo-input">
            <label>Horas</label>
            <input type="number" min="0" [(ngModel)]="horasDedicadas" placeholder="0 h">
          </div>
          <div class="tempo-input">
            <label>Minutos</label>
            <input type="number" min="0" max="59" [(ngModel)]="minutosDedicados" placeholder="0 min">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Data da término</label>
        <input type="date" [(ngModel)]="dataTermino" class="data-input">
      </div>

      <div class="form-group">
        <label>Assunto(s) que você deseja revisar</label>
        <app-multiplo-select
        [options]="assuntosDisponiveis"
        [selectedValue]="assuntosSelecionados"
        label="Assuntos"
        [multiple]="true"
        placeholder="Selecione os assuntos"
        ></app-multiplo-select>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-cancel"
        (click)="fecharModalConfiguracaoTrilha()">
        Cancelar
      </button>
      <button class="btn btn-save"
        (click)="salvarConfiguracoesTrilha()">
        Salvar
      </button>
    </div>
  </div>

  <div class="modal-trilha" *ngIf="modalConfirmacaoAberto">
    <div class="modal-body-comecar">
      <div class="animation"></div>
      <div class="modal-text-comecar">
        <h2>O começo de uma trilha feita para você!</h2>
        <p>Dê os primeiros passos e prepare o caminho para sua trilha de revisões personalizadas.</p>
      </div>
    </div>
    <div class="modal-footer-comecar">
      <button class="btn btn-cancel"
        (click)="fecharModalConfirmacao()">
        Iniciar mais tarde
      </button>
      <button class="btn btn-comecar"
        (click)="iniciarTrilhaAgora()">
        Começar agora
        <img src="assets/Icons/arrow-updown.svg" alt="seta">
      </button>
    </div>
  </div>
</div>
