<button
  class="chatbot-toggle-button"
  [class.nav-active]="isNavigationBarActive"
  (click)="toggleChat()"
  *ngIf="showButton"
>
  <img
    src="assets/imagens/logo-iconnavegador.svg"
    alt="Chatbot Logo"
    class="chatbot-logo"
  />
</button>

<div class="chatbot-container" [@chatBotAnimation]="isOpen ? 'open' : 'closed'">
  <div class="chatbot-header">
    <button class="close-btn" (click)="toggleChat()">×</button>
    Suporte
  </div>
  <div class="chatbot-body" #chatBody>
    <div
      *ngFor="let message of messages"
      class="message"
      [ngClass]="{
        'user-message': message.type === 'user',
        'bot-message': message.type === 'bot'
      }"
    >
      {{ message.text }}
    </div>
  </div>

  <div class="quick-replies" *ngIf="conversationStep < 2">
    <div *ngIf="conversationStep === 0" class="main-topics">
      <button *ngFor="let topic of topics" (click)="selectMainTopic(topic)">
        {{ topic.name }}
      </button>
    </div>
    <div *ngIf="conversationStep === 1" class="sub-topics">
      <button class="back-btn" (click)="goBackMain()">Voltar</button>
      <button
        *ngFor="let sub of selectedTopic.subtopics"
        (click)="selectSubTopic(sub)"
      >
        {{ sub }}
      </button>
    </div>
  </div>

  <div class="chatbot-footer">
    <textarea
      class="user-text-input"
      [(ngModel)]="userMessage"
      (keydown)="handleKeydown($event)"
      placeholder="Escreva sua mensagem..."
      [disabled]="!enableInput"
    ></textarea>
    <button
      (click)="sendMessage()"
      [disabled]="!userMessage.trim() || !enableInput"
    >
      <img src="assets/Icons/enviar.svg" alt="Enviar" class="send-icon" />
    </button>
  </div>
</div>
