<button
  class="chatbot-toggle-button"
  [class.nav-active]="isNavigationBarActive"
  (click)="toggleChat()"
  *ngIf="showButton"
  [disabled]="!chatAtivo">
  <img
    src="assets/imagens/logo-iconnavegador.svg"
    alt="Chatbot Logo"
    class="chatbot-logo"
  />
</button>

<div class="chatbot-container" [@chatBotAnimation]="isOpen ? 'open' : 'closed'">
  <div class="chatbot-header">
    <button class="close-btn" (click)="toggleChat()">×</button>
    VictorIA
  </div>
  <div class="chatbot-body" #chatBody>
    <div
      *ngFor="let message of messages"
      class="message"
      [ngClass]="{
        'user-message': message.type === 'user',
        'bot-message': message.type === 'bot',
        'typing-message': message.type === 'typing'
      }"
    >
      <div class="message-header">
        <div class="avatar-container" *ngIf="message.avatar">
          <img *ngIf="message.avatar" [src]="message.avatar" alt="Avatar" class="avatar-img">
        </div>
        <div class="message-info">
          <span class="username" *ngIf="message.username">{{ message.username }}</span>
          <span class="timestamp" *ngIf="message.timestamp">{{ message.timestamp | date:'shortTime' }}</span>
        </div>
      </div>
      <div class="message-content">
        <markdown *ngIf="message.type === 'bot' && !isTyping(message)" [data]="message.text"></markdown>
        <markdown *ngIf="message.type === 'user' || isTyping(message)">{{ message.text }}</markdown>
      </div>
      <div *ngIf="isTyping(message)" class="typing-indicator">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  <div class="chatbot-footer">
    <div class="support-options">
      <button [disabled]="!temQuestaoParaCitar()" [class.active]="isCitarQuestao" class="citarQuestao" (click)="citarQuestaoAtual(userMessage)"><div [class.active]="isCitarQuestao" class="citarQuestao-butao-texto">Citar Questão</div><img src="assets/Icons/x.png" [class.active]="isCitarQuestao"></button>
      <button class="suporte-btn" (click)="enviarParaSuporte()"> <img style="width: 20px;" src="assets/Icons/whatsapp-verde.svg" alt="whatsapp">Suporte WhatsApp</button>
    </div>
    <div class="text-input-container"> 
      <textarea
        class="user-text-input"
        [(ngModel)]="userMessage"
        (keydown)="handleKeydown($event)"
        placeholder="Escreva sua mensagem..."
        [disabled]="!chatAtivo"
      ></textarea>
      <button
        class="send-button"
        (click)="sendMessage()"
        [disabled]="!userMessage.trim()"
      >
        <img src="assets/Icons/enviar.svg" alt="Enviar" class="send-icon" />
      </button>
    </div>
  </div>
</div>
