<div class="container pt-5">
  <div class="minha-conta">
    <div class="menu-account">
      <h1>Minha conta</h1>
      <ul>
        <li>
          <button [ngClass]="{'active': conteudoAtual === 'perfil'}" (click)="mostrarConteudo('perfil')">Meu
            Perfil</button>
        </li>
        <li>
          <button [ngClass]="{'active': conteudoAtual === 'assinaturas'}"
            (click)="mostrarConteudo('assinaturas')">Assinatura</button>
        </li>
        <li>
          <button [ngClass]="{'active': conteudoAtual === 'preferencias'}"
            (click)="mostrarConteudo('preferencias')">Preferência</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-geral" *ngIf="conteudoAtual === 'perfil'">
    <div class="profile-container">
      <h1 class="mt-4"><span> | </span>Meu perfil</h1>

      <div class="profile-dados">
        <div class="profile-photo-container">
          <img [src]="usuario.fotoUrl || 'assets/imagens/foto.svg'" alt="Foto do Usuário" class="profile-photo">
          <div *ngIf="editMode" class="profile-photo-upload">
            <label for="file-upload" class="custom-file-upload">
              Escolher Foto
            </label>
            <input id="file-upload" type="file" (change)="onFileSelected($event)" />
          </div>
        </div>

        <div class="profile-info">
          <p><strong>Nome: </strong>
            <span *ngIf="!editMode"> {{ usuario.nome }}</span>
            <input *ngIf="editMode" [(ngModel)]="usuario.nome" class="form-control" />
          </p>
          <p><strong>Tipo de estudante: </strong>
            <span *ngIf="!editMode">
              {{ traduzirTipoEstudanteUsuario(usuario.tipoDeEstudante) }}
            </span>

            <ng-container *ngIf="editMode">
              <div class="form-group mb-0">
                <select name="tipoEstudante" [(ngModel)]="usuario.tipoDeEstudante" class="form-select py-2" required>
                  <option value="" disabled>Selecione o tipo de usuário</option>

                  <option *ngFor="let tipo of tiposUsuario" [value]="tipo.key">
                    {{ tipo.description }}
                  </option>
                </select>
              </div>
            </ng-container>
          </p>
          <p><strong>E-mail: </strong>
            <span *ngIf="!editMode"> {{ usuario.email }}</span>
            <input *ngIf="editMode" [(ngModel)]="usuario.email" class="form-control" />
          </p>
          <p><strong>Telefone: </strong>
            <span *ngIf="!editMode"> {{ usuario.telefone }}</span>
            <input *ngIf="editMode" [(ngModel)]="usuario.telefone" class="form-control" />
          </p>
          <p><strong>Cidade: </strong>
            <span *ngIf="!editMode"> {{ usuario.cidade }}</span>
            <input *ngIf="editMode" [(ngModel)]="usuario.cidade" class="form-control" />
          </p>
          <p><strong>Estado: </strong>
            <span *ngIf="!editMode"> {{ usuario.estado }}</span>
            <input *ngIf="editMode" [(ngModel)]="usuario.estado" class="form-control" />
          </p>
          <p><strong>Data Nascimento: </strong>
            <span *ngIf="!editMode"> {{ usuario.dataNascimento }}</span>
            <input *ngIf="editMode" type="date" [(ngModel)]="usuario.dataNascimento" class="form-control" />
          </p>
        </div>
      </div>
      <div class="profile-actions">
        <button (click)="voltarPerfil()" class="btn btn-secondary btn-small">Voltar</button>
        <button (click)="editarPerfil()" class="btn btn-primary btn-small">{{ editMode ? 'Salvar' : 'Editar' }}</button>
      </div>
    </div>
  </div>

  <div class="container-geral">
    <div *ngIf="conteudoAtual === 'assinaturas'">
      <!-- Conteúdo das assinaturas -->
      <h1 class="mt-4"><span> | </span>Assinatura</h1>
      <div class="cont-assinatura">
        <div class="line-dados">
          <h3>Plano</h3>
          <span>{{ planInformation.name }}</span>
        </div>
        <hr>
        <div class="line-dados">
          <h3>Intervalo de renovação</h3>
          <span>{{ planInformation.intervaloRenovacao }}</span>
        </div>
        <hr>
        <div class="line-dados">
          <h3>Status</h3>
          <span>{{ planInformation.status }}</span>
        </div>
        <hr>
        <div class="line-dados">
          <h3>Próxima renovação</h3>
          <span>{{ planInformation.proximaRenovacao }}</span>
        </div>
        <hr>
      </div>
      <button class="btn-assinatura" (click)="exibirPortalAssinatura()">Abrir Portal de Assinatura e Pagamentos</button>
    </div>

    <div *ngIf="conteudoAtual === 'preferencias'">
      <h1 class="mt-4"><span> | </span>Preferências</h1>
      <div class="preferencias-content">
        <div class="preferencias-grid">
          <div class="preferencia-card">
            <div>
              <h2>Animações ativadas</h2>
            </div>
            <div class="toggle-container">
              <label class="switch">
                <input name="darkModeToggle" type="checkbox">
                <span class="slider"></span>
              </label>
            </div>
          </div>

          <div class="preferencia-card">
            <div>
              <h2>Efeitos sonoros ativados</h2>
            </div>
            <div class="toggle-container">
              <label class="switch">
                <input name="darkModeToggle" type="checkbox">
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>