.container {
  max-width: 1300px;
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.text-p{
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info div {
    margin-bottom: 10px;
  }
  
  .profile-info strong {
    margin-right: 5px;
    font-weight: bold;
  }
  