<div class="select-container" [class.disabled]="disabled">
  <label [class.active]="multiple ? selectedValue?.length > 0 : selectedValue">{{ label }}</label>

  <div
    [ngStyle]="customStyles"
    class="select-dropdown"
    [class.disabled]="disabled"
    (click)="!disabled && toggleDropdown()"
  >
    <div *ngIf="multiple && selectedValue?.length > 0" class="selected-values">
      <span *ngFor="let value of selectedValue" class="selected-value">
        {{ getLabelFromValue(value) }}
        <span class="remove-value" *ngIf="!disabled" (click)="removeValue(value)">×</span>
      </span>
    </div>

    <div *ngIf="!multiple && selectedValue" class="selected-single">
      {{ getLabelFromValue(selectedValue) }}
    </div>

    <div class="arrow-down" [class.disabled]="disabled"></div>
  </div>

  <div class="options-container" *ngIf="isOpen && !disabled">
      <input
        *ngIf="searchable" 
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
        class="search-input"
        placeholder="Buscar..."
        (click)="$event.stopPropagation()"
    />

    <ng-container *ngIf="isGroupedOptions(); else flatOptions">
      <div class="option-group" *ngFor="let group of filteredOptions">
        <div 
          class="group-label"
          (click)="onSelect(group.value)"
          [class.selected]="multiple ? selectedValue.includes(group.value) : selectedValue === group.value"
        >
          {{ group.label }}
        </div>
        <div 
          class="option"
          *ngFor="let opt of group.options"
          (click)="onSelect(opt.value)"
          [class.selected]="multiple ? selectedValue.includes(opt.value) : selectedValue === opt.value"
        >
          {{ opt.label }}
        </div>
      </div>
    </ng-container>

    <ng-template #flatOptions>
      <div 
        class="option"
        *ngFor="let option of filteredOptions"
        (click)="onSelect(option)"
        [class.selected]="multiple ? selectedValue.includes(option) : selectedValue === option"
      >
        {{ option }}
      </div>
    </ng-template>
  </div>
</div>