/* select.component.css */
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 48px;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  label.active {
    top: 12px;
    left: 10px;
    font-size: 10px;
    color: #3f51b5;
    font-weight: 700;
    margin: 0;
  }
  
  .select-dropdown {
    background: #fff;
    border: 1px solid #ffffff;
    padding: 12px 10px;
    cursor: pointer;
    min-height: 48px;
    height: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .selected-value {
    font-size: 14px;
    font-weight: 600;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 4px;
  }
  
  .selected-value-multiple {
    font-size: 14px;
    font-weight: 600;
    flex-grow: 1;
    padding-top: 8px;
  }
  
  .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 12;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
    background: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .option:hover,
  .option.selected {
    background: #f0f0f0;
    color: #3f51b5;
    font-weight: 700;
  }
  
  .arrow-down {
    margin-left: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6E7275;
    transform: rotate(0deg);
    transition: border-top-color 0.3s ease, transform 0.3s ease;
  }

  .arrow-down.rotate {
    transform: rotate(180deg);
  }
  
  .select-dropdown.active .arrow-down,
  .select-dropdown:hover .arrow-down {
    border-top-color: #3f51b5;
  }
  
  @media (max-width: 768px) {
    .select-container {
      width: 100%;
      min-height: 40px;
    }
  
    .select-dropdown {
      min-height: 40px;
    }
  
    .selected-value {
      font-size: 12px;
    }
  
    .selected-value-multiple {
      font-size: 12px;
    }
  
    label.active {
      top: 10px;
      font-size: 9px;
    }
  }
  
  .selected-values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    margin-top: 10px;
    overflow: auto;
    max-height: 66px;
    scroll-behavior: smooth;
  }
  
  .selected-values::-webkit-scrollbar {
    width: 6px;
  }

  .selected-values::-webkit-scrollbar-thumb {
    background: #b0c4de;
    border-radius: 10px;
  }

  .selected-values::-webkit-scrollbar-thumb:hover {
    background: #a0b0c0;
  }

  .selected-value-multiple {
    background-color: #d0e1f9;
    border: 1px solid #b0c4de;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .remove-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: red;
    border-radius: 50%;
    width: 14px;
    height: 14px; 
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease;
  }
  
  .remove-value:hover {
    color: white;
    background-color: #dc3545;
    transform: scale(1.1);
  }

.group-label {
  font-weight: bold;               
  font-size: 16px;                 
  padding: 8px 12px;               
  margin-top: 8px;                 
  background-color: #e2e2e2;       
  color: #333;                     
  cursor: pointer;                
  border-radius: 4px;              
}

.group-label:hover {
  background-color: #e2e2e2;       
  text-decoration: underline;      
}


  