.metricas-container {
  padding: 20px;
  background-color: var(--bg-geral);
  color: var(--text-color);
  margin-top: 50px;
}

.grafico-card {
  background-color: var(--bg-container);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

.grafico-card h2 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.chart-wrapper {
  position: relative;
  height: 40vh;
  width: 100%;
}

.chart-wrapper-bar {
  height: 250px;
}

.subtema-grupo {
  overflow: hidden;
}

.subtema-grupo:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.subtema-grupo h3 {
  text-align: center;
  color: var(--placeholder-color);
  margin-bottom: 15px;
}

.loading-spinner {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.subtemas-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 992px) {
  .subtemas-grid-container {
    grid-template-columns: 1fr;
  }
}
