<div class="container pt-5">
  <div class="container mt-4">
    <a class="mt-4 button-voltar" (click)="voltar()"
      ><img src="../../../assets/Icons/Left-icon.svg" alt="" />Voltar</a
    >

    <div class="header">
      <div class="info">
        <h1>{{ tema }}</h1>
        <p>
          Cards estudados: <span>{{ cards_estudados }}/{{ cards_totais }}</span>
        </p>
      </div>
      <a class="card-button" (click)="openFlashcard()"
        >Estudar cards<img src="../../../assets//Icons/Right-icon.svg"
      /></a>
    </div>

    <div class="subtemas-flashcards">
      <app-flashcards-subtemas
        *ngFor="let subtemaKey of listaDeSubtemas"
        [subtema]="subtemaDescricoes[subtemaKey] || subtemaKey"
        [cards_total]="getStatsDoSubtema(subtemaKey).total"
        [cards_estudados]="getStatsDoSubtema(subtemaKey).estudados"
        [porcentagem]="getStatsDoSubtema(subtemaKey).porcentagem"
      >
      </app-flashcards-subtemas>
    </div>

    <app-flashcard-modal
      [isVisible]="isFlashcardModalVisible"
      (close)="closeFlashcard()"
    >
    </app-flashcard-modal>
  </div>
</div>
