<div class="card">
    <span *ngIf="recomendado" class="badge badge-recomendado">Recomendado</span>
    <div class="card-header" [ngStyle]="{'background-color': corCabecalho}">
      <h3>{{ titulo }}</h3>
    </div>
    <div class="card-body">
        <div class="value">
            <h4>
                <span *ngIf="textoParcelas" class="texto-parcelas">{{ textoParcelas }}</span>
                {{ preco | currency:'BRL' }}
                <span *ngIf="mostrarPorMes">/mês</span>
            </h4>
            <p *ngIf="textoAdicional" class="texto-adicional">{{ textoAdicional }}</p>
        </div>
        <ul>
            <li *ngFor="let ponto of descricao">{{ ponto }}</li>
        </ul>
        <button class="btn-plano" (click)="navegarParaPlano()">{{ textoBotao }}</button>
    </div>
  </div>