<div class="container pt-5">
    <div class="container mt-4">
        <div class="header">
            <h1 class="mt-4"><span> | </span> Aulas</h1>
          </div>
    </div>
    <section class="containerCards">
        <app-modulo-aulas></app-modulo-aulas>
        <app-modulo-aulas></app-modulo-aulas>
        <app-modulo-aulas></app-modulo-aulas>
        <app-modulo-aulas></app-modulo-aulas>
        <app-modulo-aulas></app-modulo-aulas>
        <app-modulo-aulas></app-modulo-aulas>
    </section>
</div>