.mat-toolbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #0F1934;
    padding: 30px;
    font-family: 'Nunito Sans', sans-serif;
  }
.ml-2{
    font-size: 15px;
    font-weight: bold;
}
.button-menu{
  vertical-align: middle;
  color: #E7ECF6;
}

.mat-drawer-content{
    /* height: 100vh; */
    background-color: #e3eaf0;
}

.link-icon{
    color: #0D356A;
}
.icon {
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    margin-bottom: 10px;
    margin-top: 6px;
}

.logo {
    width: 100px; /* Ajuste o valor conforme necessário para diminuir o tamanho */
  
}

.btn-logout{
    color: #FFFFFF;
    border-radius: 8px;
}

.btn-logout:hover {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* SIDEBAR CSS */

.mat-list-item {
    position: relative; /* Permite posicionar elementos filhos relativamente a este elemento */
    padding: 5px;
    margin-top: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.mat-list-item:before {
    content: ""; /* Adiciona um elemento antes do conteúdo do .mat-list-item */
    position: absolute; /* Posiciona o elemento absolutamente em relação ao .mat-list-item */
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px; /* Largura da linha vertical */
    background-color: #0D356A; /* Cor da linha vertical */
    display: none; /* Inicialmente, a linha está oculta */
    font-weight: bold;
}

.mat-list-item:hover:before {
    display: block; /* Torna a linha vertical visível ao passar o mouse */
    font-weight: bold;
}

.mat-list-item:hover {
    background-color: #e3eaf0; /* Cor de destaque ao passar o mouse */
    font-weight: bold;
}

.mat-list-item:hover .icon {
    color: #0D356A;
}

.mat-list-item:hover span {
    color: #0D356A;
}

/* Adaptações para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .mat-list-item {
        margin-top: 10px;
        padding: 10px; /* Aumenta o espaço interno para melhor experiência em telas menores */
        font-family: 'Nunito Sans', sans-serif;
    }
    
    .mat-list-item:before {
        content: ""; /* Adiciona um elemento antes do conteúdo do .mat-list-item */
        position: absolute; /* Posiciona o elemento absolutamente em relação ao .mat-list-item */
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px; /* Largura da linha vertical */
        background-color:#CDDAEF;
        display: none; /* Inicialmente, a linha está oculta */
    }

    .mat-list-item:hover:before {
        display: block; /* Torna a linha vertical visível ao passar o mouse */
        font-weight: bold;
    }

    .mat-list-item:hover {
        background-color: #F4FCF1; /* Cor de destaque ao passar o mouse */  
    }

    .mat-list-item:hover .icon {
        color:#CDDAEF;
    }

    .mat-list-item:hover span {
        color: #0D356A;
    }
}

.heading-home{
    font-size: 0.87rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 18px;
    color: #0F1934;
}

.active-link {
    background-color: #cfe2ff; 
    font-weight: bold; 
    color: #040404; 
}


.mat-drawer-sidenav{
    width: 200px;
    background-color: #f2f2f2;
    overflow-x: hidden;
    margin-top: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

.mat-drawer-footer{
    display: flex;
    background-color:  #8C8E94;
    padding: 0.75rem;
    padding-left: 1rem;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    text-align: center;
}

.mat-drawer-content{
    height: 100vh;
}
  
/* CSS */
.navbar {
    min-height: 70px;
    /* Altere a altura conforme desejado */
}

.custom-bg {
    background-color: #b6bcbc;
}

.sb-nav-link-icon {
    margin: 10px;
    /* Adicione margem conforme desejado */
}

.icon-color {
    color: #0D356A;
}

.cor {
    color: rgb(255, 255, 255);
    /* Defina a cor do texto como branca */
    font-weight: 400;
}

::ng-deep .mat-drawer.mat-drawer-side {
    z-index: 0 !important; /* ou 0, dependendo do comportamento desejado */
}

/* Estilo para dispositivos móveis e tablets */
@media (max-width: 991px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand{
        display: flex;
        align-items: center; /* Centraliza verticalmente */
        margin-right: 200px;
    }

    .btn-link {
        order: 1;
    }

    .nav-link {
        order: 3;
    }
}

@media (max-width: 371px) {
    .navbar-brand img {
        width: 190px;
        height: auto;
        align-items: center; 
    }
}


