<mat-toolbar class="mat-toolbar-fixed d-flex justify-content-between">
    <button mat-icon-button class="btn" (click)="toggleSidenav()">
        <mat-icon class="button-menu">{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>

    <a class="navbar-brand mx-auto" routerLink="/usuario/dashboard">
        <img src="assets/imagens/logoq-bank.svg" alt="" style="padding: 10px; height: 65px;" class="d-inline-block align-text-top">
    </a>

    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false"
        aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon">
            <a class="cor btn btn-logout" (click)="logout();"> Sair 
                <img src="assets/imagens/sair.svg" alt="Ícone de Sair" class="icon">
            </a>
        </div>
    </a>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #sidenav [mode]="getSidenavMode()" [opened]="isSidenavOpen()" class="mat-drawer-sidenav">
        <mat-nav-list class="pt-5">
            <div class="heading-home">Home</div>

            <a mat-list-item routerLink="/usuario/dashboard" [ngClass]="{'active-link': isActive('/usuario/dashboard')}">
                <img src="assets/imagens/painel.svg" alt="Ícone de Painel de Controle" class="icon">
                <span class="ml-2">Painel de Controle</span>
            </a>            
            
            <div class="heading-home">Serviços</div>
            <a mat-list-item routerLink="/usuario/painel-de-aulas" [ngClass]="{'active-link': isActive('/usuario/painel-de-aulas')}">
                <img src="assets/Icons/au-ofi.svg" alt="Ícone de Aula" class="icon">
                <span class="ml-2">Aulas</span>
            </a>
            <a mat-list-item routerLink="/usuario/questoes" [ngClass]="{'active-link': isActive('/usuario/questoes')}">
                <img src="assets/imagens/caderno.svg" alt="Ícone de Questões" class="icon">
                <span class="ml-2">Questões</span>
            </a>
            <a mat-list-item routerLink="/usuario/filtro" [ngClass]="{'active-link': isActive('/usuario/filtro')}" >
                <img src="assets/imagens/fi-a.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Meus Filtros</span>
            </a>
            <a mat-list-item routerLink="/usuario/simulados" [ngClass]="{'active-link': isActive('/usuario/simulados')}">
                <img src="assets/imagens/simu.svg" alt="Ícone do Simulado" class="icon">
                <span class="ml-2">Simulados</span>
            </a>           
            <a mat-list-item routerLink="/usuario/meus-simulados" [ngClass]="{'active-link': isActive('/usuario/meus-simulados')}" >
                <img src="assets/imagens/ibm-simulated-side.svg" alt="Ícone de Meus Simulados" class="icon">
                <span class="ml-2">Meus Simulados</span>
            </a>
            <a mat-list-item routerLink="/usuario/desempenho"  [ngClass]="{'active-link': isActive('/usuario/desempenho')}">
                <img src="assets/imagens/garfic.svg" alt="Ícone de Desempenho" class="icon">
                <span class="ml-2">Desempenho</span>
            </a>
            
            <div class="heading-home">Configurações</div>
            <a mat-list-item routerLink="/usuario/meu-perfil" routerLinkActive="active-link">
                <img src="assets/imagens/perfil.svg" alt="Ícone de Meu Perfil" class="icon">
                <span class="ml-2">Meu Perfil</span>
            </a>

            <div class="mat-drawer-footer" mat-list-item>
                <div class="small">
                    <span class="ml-2" style="font-weight: 500; font-weight: bold; margin: 0 auto;">
                      Usuário Logado: {{ nomeUsuario }}
                    </span>
                  </div>                  
            </div>

        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mat-drawer-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
