<div class="sugestoes-dialog-container">
    <h2 mat-dialog-title class="sugestoes-titulo" style="position: relative;">
        Sugestões de Pontos de Atenção para {{ nomeAluno }}
        <button class="close-popup-button" [mat-dialog-close]="true" aria-label="Fechar diálogo">
            &times;
        </button>
    </h2>

    <mat-dialog-content>
        <p class="sugestoes-subtitulo">
            Com base no desempenho recente, a IA sugere focar nos seguintes tópicos:
        </p>

        <div *ngIf="carregandoSugestoes" class="feedback-container">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="sugestoes-grid" *ngIf="!carregandoSugestoes && sugestoesAgrupadas.length > 0">
            <div *ngFor="let sugestao of sugestoesAgrupadas" class="sugestao-card">
                <div class="sugestao-header">
                    <span class="sugestao-tag">{{ traduzirTema(sugestao.tema) }} </span>
                    <span class="sugestao-tag">{{ traduzirSubtema(sugestao.subtema) }}</span>
                </div>
                <div class="sugestao-body">
                    <h4>Foco em: {{ traduzirSubtema(sugestao.subtema) }}</h4>
                    <h5>Tipo de prova: {{ traduzirTipoDeProva(sugestao.tipoDeProva) }}</h5>
                    <p>Notamos uma dificuldade recorrente neste assunto.</p>
                    <details class="exemplos-questoes" *ngIf="sugestao.questoes.length > 0">
                        <summary>Ver exemplos de questões ({{ sugestao.questoes.length }})</summary>
                        <ul>
                            <li *ngFor="let questao of sugestao.questoes"
                                [innerHTML]="sanitizer.bypassSecurityTrustHtml(questao.question_text)">
                            </li>
                        </ul>
                    </details>
                </div>

            </div>
        </div>

        <div *ngIf="!carregandoSugestoes && sugestoesAgrupadas.length === 0" class="feedback-container">
            <div class="feedback-content">
                <h4>Tudo em Ordem!</h4>
                <p>Nenhum ponto de atenção específico foi encontrado para este aluno no momento.</p>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions class="pagination-container"
        *ngIf="!carregandoSugestoes && sugestoesAgrupadas.length > 0 && totalDePaginas > 1">
        <button class="pagination-button" (click)="irParaPagina(paginaAtual - 1)" [disabled]="paginaAtual === 1">
            Anterior
        </button>
        <span class="pagination-info">
            Grupo {{ paginaAtual }} de {{ totalDePaginas }}
        </span>
        <button class="pagination-button" (click)="irParaPagina(paginaAtual + 1)"
            [disabled]="paginaAtual === totalDePaginas">
            Próxima
        </button>
    </mat-dialog-actions>
</div>