@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  max-width: 1300px;
  margin: 30px auto;
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  margin: 0;
  font-size: 30px;
}

.breadcrumb {
  font-size: 15px;
}

.container-buscar {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #fafafa;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.container-buscar button.btn-primary {
  width: 240px;
  height: 40px;
  font-size: 14px;
  margin-top: 25px;
}

.btn-cadastro-questao,
.btn-upload-lote {
  float: right;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.btn-cadastro-questao {
  border: 1px solid #004d7a;
  background-color: #004d7a;
  color: #fefefe;
}

.btn-upload-lote {
  border: 1px solid #52cc39;
  background-color: #52cc39;
  color: #002035;
}

.icon {
  margin-left: 8px;
  cursor: pointer;
  height: 20px;
}

.icon-lote {
  margin-left: 10px;
  margin-right: 10px;
}

.file-upload-container {
  margin-top: 10px;
}

.file-upload-label,
.file-upload-label-cliente,
.file-upload-label-lote {
  display: block;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.custom-upload-button {
  background-color: #52cc39;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.table {
  font-size: 14px;
}

.table th {
  background-color: #d6d6d6;
}

.table-responsive {
  max-height: 800px;
  overflow-y: auto;
}

.btn-custom-editar,
.btn-custom-deletar,
.btn-custom-editar-buscar {
  margin-right: 5px;
  margin-top: 2px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-weight: bold;
}

.btn-custom-editar,
.btn-custom-editar-buscar {
  background-color: #004d7a;
  color: #fff;
}

.btn-custom-editar .icon,
.btn-custom-editar-buscar .icon {
  margin-right: 5px;
}

.btn-custom-deletar {
  background-color: #db4c4c;
  color: #fff;
}

.btn-custom-deletar .icon {
  margin-right: 5px;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

.modal-header h4 {
  margin: 0;
}

.modal-body {
  font-size: 18px;
}

.modal-footer .btn {
  font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
