/* lista-questoes.component.css */
.container {
    max-width: 1300px;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .text-p {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .consulta-form {
    background-color: #f2f2f2; /* Fundo cinza claro */
    border: 1px solid #ddd; /* Borda cinza */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
  }
  
  .consulta-form .form-control {
    width: 100%; /* Largura total */
  }
  
  .consulta-form .btn-buscar {
    width: 100%; /* Largura total */
    height: 75%;
    margin-top: 15.5px;
    background-color: #3B5FA0;
    font-size: 14px;
    font-weight: 600;
    border: none;
  }
  
  ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    width: 125%;
    border-radius: 8px;
    background-color: #fff;
    color: #041E4E;
    background-clip: padding-box;
    border: 1px solid #ced4da;
  }
  
  ::ng-deep .mat-form-field-infix {
    max-width: 100% !important;
  }
  
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    padding-top: 14px;
  }
  
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  @media (max-width: 768px) {
    .consulta-form .col-md-4 {
      margin-bottom: 10px; /* Espaçamento inferior reduzido em telas menores */
    }
  
    .consulta-form .btn-buscar {
      width: 100%;
      margin-top: 24px;
      font-size: 15px;
      height: 50px;
    }
  
    ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
      width: 172%;
    }
  }
  
  @media (min-width: 992px) {
    .consulta-form .btn-buscar {
      width: 100%;
      font-size: 15px;
      height: 50px;
      margin-top: 15.5px;
    }
  }
  
  .crud-container {
    background-color: #e3eaf0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .table-todas-questoes-do-bd {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .table-todas-questoes-do-bd th,
  .table-todas-questoes-do-bd td {
    padding: 15px;
  }
  
  .table-todas-questoes-do-bd th {
    background-color: #041E4E;
    font-weight: bold;
    color: #fff;;
  }
  
  .table-todas-questoes-do-bd tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-todas-questoes-do-bd tr:hover {
    background-color: #f1f1f1;
  }

  .icon {
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    margin-bottom: 10px;
    margin-top: 6px;
}
  .btn-danger {
    margin-right: 10px;
  }
  .btn-primary{
    margin-right: 10px;
    border: #5c8be2;
    background-color: #5c8be2;
  }
  
  .page {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination-controls {
    display: inline-block;
  }
  
  .alert {
    margin-top: 20px;
  }
  
/* Ajuste para alinhar os botões horizontalmente com espaçamento */
.btn-container {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
}

.btn-primary {
    background-color: #3B5FA0;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}



/* Alinha os botões à esquerda */
.btn-container {
  display: flex;
  justify-content: flex-start; /* Alinha os botões à esquerda */
  gap: 10px; /* Espaçamento entre os botões */
}

/* Aumenta o tamanho dos botões */
.btn-primary, .btn-secondary {
  padding: 15px 30px; /* Aumenta o tamanho do botão */
  font-size: 16px; /* Aumenta o tamanho da fonte */
  border-radius: 5px; /* Bordas arredondadas */
}

.btn-primary {
  background-color: #3B5FA0;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}


/* Modal Container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 14;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.alert-laranja {
  background-color: #FFAD60; /* Cor de fundo laranja */
  color: rgb(0, 0, 0); /* Texto branco para contraste */
  border: 1px solid #FFAD60; /* Borda laranja escura */
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

/* Modal Overlay */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Modal Content */
.modal-container {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  z-index: 12;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.modal-header h2 {
  margin: 0;
  padding: 15px;
  font-size: 1.2rem;
  color: #ffffff;
}

.modal-close-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #ffffff;
}

.modal-content {
  padding: 20px;
}

.modal-body {
  margin: 14px 0;
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.btn-success {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #6c757d;;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #5a6268; 
}

