<div class="container pt-5"></div>
<div class="container mt-4">
  <h1 class="mt-4"><span> | </span>Busca por ID da Questão</h1>
</div>

<div class="container">
  <div class="container-buscar">
    <form #consultaForm="ngForm" (submit)="buscarQuestoes()" class="consulta-form">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-4">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID da Questão</mat-label>
            <input matInput name="questaoId" [(ngModel)]="questaoId" placeholder="Digite o ID da questão" />
          </mat-form-field>
        </div>
        <div class="col-md-4 btn-container">
          <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar </button>
          <button type="button" class="btn btn-secondary" (click)="limparFiltros()"> Limpar </button>
        </div>
      </div>
    </form>
  </div>
  
  

  <div *ngIf="message" class="alert alert-warning alert-laranja mt-3" role="alert">
    {{ message }}
  </div>

  <div *ngIf="questoes.length > 0" class="crud-container mt-3">
    <div class="table-responsive">
      <table class="table table-todas-questoes-do-bd">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data do Cadastro</th>
            <th>Comentador da Questão</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let questao of questoes | paginate: { itemsPerPage: pageSize, currentPage: page }">
            <td>{{ questao.id }}</td>
            <td>{{ questao.diaDoCadastro }}</td>
            <td>{{ questao.comentadorDaQuestao }}</td>
            <td>
              <button class="btn btn-primary btn-custom-editar" routerLink="/usuario/cadastro-questao/{{ questao.id }}">
                Editar <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" />
              </button>
              <button class="btn btn-danger btn-custom-deletar" (click)="preparaDelecao(questao)" data-toggle="modal" data-target="#modalDelecaoQuestao">
                Deletar <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="overlay" *ngIf="modalAberto"></div>
</div>
