<div class="container pt-5">
  <div class="container mt-4">
    <h1 class="mt-4"><span> | </span>Busca e edição de questões</h1>
  </div>

  <div class="container">
    <div class="container-buscar">
      <form #consultaForm="ngForm" (submit)="buscarQuestoes()" class="consulta-form">
        <div class="row align-items-center">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Ano</mat-label>
              <mat-select name="selectedAno" [(ngModel)]="selectedAno">
                <mat-option *ngFor="let ano of anos" [value]="ano">{{ getDescricaoAno(ano) }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Tipo de Prova</mat-label>
              <mat-select name="selectedTipoDeProva" [(ngModel)]="selectedTipoDeProva">
                <mat-option *ngFor="let tipo of tiposDeProva" [value]="tipo">
                  {{ getDescricaoTipoDeProva(tipo) }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-center btn-container">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-search"></i> Buscar
            </button>
            <button type="button" class="btn btn-secondary" (click)="limparFiltros()">
              Limpar
            </button>
          </div>
        </div>
      </form>
    </div>

  
    <div *ngIf="message" class="alert alert-info mt-3" role="alert">
      {{ message }}
    </div>

    <div *ngIf="questoes.length > 0" class="crud-container mt-3">
      <div class="table-responsive">
        <table class="table table-todas-questoes-do-bd">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Ano</th>
              <th>Tipo de Prova</th>
              <th>Comentador da Questão</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let questao of questoes | paginate: { itemsPerPage: pageSize, currentPage: page }">
              <td>{{ questao.id }}</td>
              <td>{{ questao.title }}</td>
              <td>{{ questao.ano }}</td>
              <td>{{ questao.tipoDeProva }}</td>
              <td>{{ questao.comentadorDaQuestao }}</td>
              <td>
                <button class="btn btn-primary btn-custom-editar" routerLink="/usuario/cadastro-questao/ {{questao.id}} ">
                Editar <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" /> 
                </button>
                <button class="btn btn-danger btn-custom-deletar" (click)="preparaDelecao(questao)" data-toggle="modal" data-target="#modalDelecaoQuestao">
                  Deletar <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" /> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div *ngIf="message" class="alert alert-info" role="alert">
        {{ message }}
      </div>

      <div id="modalDelecaoQuestao" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Confirmação</h4>
              <button type="button" (click)="fecharModal()" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="questaoSelecionada">
              Deseja realmente excluir a questão {{ questaoSelecionada.title }}?
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" (click)="deletarQuestao()" data-dismiss="modal">Confirmar</button>
              <button class="btn btn-danger" (click)="fecharModal()" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h1 class="mt-4">
      <span> | </span>Todas as questões do Banco de Questões
    </h1>
    <div class="table-responsive" *ngIf="filtros.length > 0; else noFilters">
      <div class="page">
        <table class="table-todas-questoes-do-bd">
          <thead>
            <tr>
              <th>ID</th>
              <th>Ano</th>
              <th>Dificuldade</th>
              <th>Tipo de Prova</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let filtro of filtros | paginate: { itemsPerPage: 5, currentPage: page }">
              <td>{{ filtro.id }}</td>
              <td>{{ filtro.ano }}</td>
              <td>{{ filtro.dificuldade }}</td>
              <td>{{ filtro.tipoDeProva }}</td>
              <td>
                <button class="btn btn-primary"  (click)="editarFiltro(filtro.id)">
                  Editar <img src="assets/imagens/pencil.svg" alt="Ícone de Editar" class="icon" /> 
                </button>
                <button class="btn btn-danger" (click)="deletarFiltro(filtro.id)">
                  Deletar <img src="assets/imagens/de.svg" alt="Ícone de Deletar" class="icon" /> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center; margin-top: 10px">
          <pagination-controls
            [previousLabel]="'Anterior'"
            [nextLabel]="'Próximo'"
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <ng-template #noFilters>
      <p>Nenhuma questão encontrada.</p>
    </ng-template>
  </div>

  <div class="overlay" *ngIf="modalAberto"></div>
</div>
